[2018-02-13 18:41] acmcarther opened #1 "skipped_deps documentation is wrong"
https://github.com/google/cargo-raze/blob/master/src/settings.rs#L103
^ "//blah" is NOT the format for this argument. The format is actually {dep_name}-{dep_version}, similar to how cargo would represent a dependency.

[2018-02-21 04:15] acmcarther opened #6 "Derive builder does not build"
Needs markdown file as "include_str".

[code]
should do the trick (not sure the side effects though).

[2018-02-21 16:37] mfarrugi commented on #6
Does adding it to `srcs` work (ie. changing the glob to "**/*")? Adding it to `data` will make it available under runfiles, which is a little undesirable.

[2018-02-21 17:39] acmcarther commented on #6
Strangely enough, the above snippet *does* work. I suspect this is because the files are being accessed directly (instead of through runfiles, where they should be accessed from). Furthermore, non `rs` sources are not accepted in the `srcs` argument, though that could be changed.

[2018-02-21 18:40] mfarrugi commented on #6
Oh I'm not saying data won't work, but the downside is that all sources become part of runfiles.

[2018-02-21 20:37] acmcarther commented on #6
Ouch. Good point.

Perhaps `data` should be configurable via a `[raze]` option in the cargo toml? That would allow specifically bringing in `md` files for just this one crate.

[2018-02-21 22:39] mfarrugi commented on #6
That will still leak it to runfiles, but it should be okay if it's only a
few files. The other option is to add a compile_data (non rust sources)
attribute, but that seems excessive and might encourage more bad behavior.

On Wed, Feb 21, 2018, 15:37 Alex McArther <notifications@github.com> wrote:

[2018-02-28 02:48] acmcarther opened #7 "Investigate using `cargo metadata` internally"
I wrote most of the integration before `cargo metadata` existed. I'm content with just continuting to use Cargo's internals in the event that `cargo metadata` is missing something needed, but if its possible to use it today, we probably should.

Crosslinks:
https://github.com/rust-lang/cargo/issues/3815

[2018-02-28 15:29] mattmoor opened #8 "Generate //cargo:cargo.bzl during WORKSPACE"
Having both `Cargo.toml` and `//cargo:crates.bzl` checked in forks the source of truth in undesirable ways.  There is a trick that `rules_python` is using to avoid this split, which would enable Bazel to directly consume `Cargo.toml` (or preferably `Cargo.lock`).

The pattern is effectively a two-phase load:
[code]

This is basically identical to what you are doing, but avoids checking in `crates.

[2018-02-28 15:55] acmcarther commented on #8
I had considered this possibility, but wasn't satisfied that it was easy enough to make the cargo-raze binary available without `cargo install`, as it needs a whole bunch of dependencies of its own in order to be built. Furthermore, I don't think this approach is possible in the vendored case, which most of the people interested in tool have been preferring so far. I'd be interested in looking int

[2018-02-28 15:58] acmcarther commented on #8
Ah one more nuance:

If i understand the rules_python implementation, multiple versions of transitive dependencies are not supported. This is suboptimal for the `cargo` usecase though, as Cargo explicitly supports bringing in more than one version of a given dependency if it makes the dependency graph easier to resolve. That is to say, something like requirement("some-crate") would probably not be

[2018-02-28 16:08] mattmoor commented on #8
That's interesting, I hadn't realized that any language but Node.js was doing that.

TIL :)

[2018-03-05 06:18] acmcarther commented on #7
I've rewritten the planner to use output from `cargo metadata`, but I'm blocked by a small feature request to Cargo. https://github.com/rust-lang/cargo/pull/5122 adds the extra data I need.

Once this change is in, the whole stack will get much more testable as it won't depend on weird internal state of Cargo objects.

[2018-03-08 18:19] acmcarther opened #12 "Move to the official bazelbuild/rules_rust?"
Reraising @bspeice's issue from https://github.com/google/cargo-raze/pull/11

The reason that this isn't in rules_rust was that I wasn't sure that this was the right solution for everyone to pursue. Solutions to Cargo-Bazel build system integration seems to lie on a spectrum between "let Cargo make decisions" and "let Bazel make decisions", and this project is decidedly in the latter camp.

Most f

[2018-03-08 18:29] acmcarther commented on #12
For comparison, in one of my projects, I structure my code like this, without `src/` or Cargo.toml outside `//third_party/cargo` etc.

[code]

[2018-03-10 22:00] bspeice commented on #12
I guess the biggest question would be: what is the benefit of integrating this into rules_rust? From what I understand so far, the purpose of `raze` is to make the transition from Cargo to Bazel as easy as possible, without imposing any ideology on either side of Bazel's "just compile things" rules or Cargo's "handle everything" method.

Keeping this separate leaves Cargo free to be the default so

[2018-03-11 09:23] #6 closed

[2018-03-11 15:23] palfrey opened #14 "Feature request: Autodetect target"
Without setting the target setting in Cargo.toml I got the very confusing error "error[E0461]: couldn't find crate `core` with expected target triple x86_64-unknown-linux-gnu" on my Mac. This was confusing, because neither Cargo nor rules_rust required explicit target setting, and so having to work out that I had to explicitly set it for things to not fail horribly was confusing. Also, this now me

[2018-03-11 15:53] palfrey opened #15 "Includes from source directories via include_str break builds"
I've got some code that depends on [conduit-mime-types](https://github.com/conduit-rust/mime-types) and it uses `include_str!` to [include an external data file at build time](https://github.com/conduit-rust/mime-types/blob/master/src/lib.rs#L10). However, this doesn't seem to play nicely with the current generated rules.

I managed to make it work by adding a `data = ["data/mime.json"]` line to t

[2018-03-11 16:06] mfarrugi commented on #15
This was recently fixed with #10, coincidentally for the same library (https://github.com/acmcarther/cargo-raze-examples/pull/3/files#diff-24a61fcd02e164299430b7286ed18fbaR37).

It doesn't appear to be released yet, though.

[2018-03-11 16:30] palfrey opened #16 "Support git dependencies"
I have a git-based dependency in one of my projects that doesn't seem to get picked up by cargo-raze.

`hybrid-clocks = { git = "https://github.com/palfrey/hybrid-clocks.git", branch = "serde-0.9", features = ["serde"] }`

Admittedly, in this case, I think I can just upgrade to the latest version from crates.io now, but it would be good to support the general case.

[2018-03-11 19:01] palfrey opened #17 "Interaction with Rust workspaces"
I've got a project (https://github.com/palfrey/potboiler) I'm testing out using cargo-raze to build, but it uses Cargo workspaces to separate sub-projects and that doesn't seem to interact well with cargo-raze. I've added a top-level WORKSPACE and the generated BUILD for a Remote genmode only seems to contain the dependencies from one of the sub-folder Cargo.toml's. Experimentation seems to indica

[2018-03-11 19:24] mfarrugi commented on #17
The current use-case is geared towards having 1 Cargo.toml act as a bridge between a Bazel Workspace and Cargo. The immediate solution is to collate your Cargo.toml`s and use BUILD files instead (or in addition).

There is some thought to alternatives in #12

[2018-03-11 19:33] mfarrugi commented on #16
I also ran into this with an unpublished crate, rust-gssapi, we ended up writing the `BUILD` by hand.

[2018-03-11 21:24] acmcarther commented on #16
Seems that [cargo-vendor supports this](https://github.com/alexcrichton/cargo-vendor/blob/f5699e45583673976edbe53072837513aa5eb639/src/main.rs#L299), so I don't see a reason why it couldn't be supported on our end.

Remote genmode would need to learn how to vendor things that aren't crates.io crates on S3 though.

I'll look into this. If you don't see updates here, feel free to ping again for an u

[2018-03-11 22:11] acmcarther commented on #15
Released as `0.0.19`, plus updated example: https://github.com/acmcarther/cargo-raze-examples/blob/5ab156b9d93a6a2760c7d34922116c4c7bb43b91/bazel/complicated_cargo_library/cargo/Cargo.toml#L36

[2018-03-12 02:52] GregBowyer opened #19 "Bindgen 0.32.3 compile failure"
I am not sure where this is hiding, but we might need to add host-target.txt into the sandbox somehow?

[code]

[2018-03-12 02:53] GregBowyer opened #20 "0.0.19 Seems to pull latest versions from crates.io"
Bindgen on crates.io seems to have had a version bump, that bump gives a failure as seen in #19.

However, seperate to that with a `Cargo.toml`  like so

[code]

cargo raze appears to make a build script for bindgen `0.32.2`

[2018-03-12 03:02] GregBowyer commented on #19
Should just use the right options when making the `Cargo.toml`

[2018-03-12 03:02] #19 closed

[2018-03-12 06:03] acmcarther commented on #20
I've replicated what you're doing on my end, and yeah, this is an expression of a mismatch between raze and cargo's treatment of versions. Cargo "reinterprets" versions according to semver in the `[dependencies]` section (updating minor versions where possible), while `[raze.crates]` takes you literally (applying the changes exactly to the version in question). You end up actually bringing in `0.3

[2018-03-13 20:35] palfrey commented on #15
Yup, this is fixed with 0.0.19

[2018-03-13 20:35] #15 closed

[2018-03-13 21:00] acmcarther commented on #14
I thought added a comment already here, but apparently I lost it.

So, you raise two problems. First, **the `target` option is really unclear.** Second, **Raze should support platform-specific dependencies out of the box.** Agreed on both points.

On (1): Do you have an example available? I found the error code [here](https://github.com/rust-lang/rust/blob/dead08cb331343b84564628b139b657f93548320/

[2018-03-13 21:26] palfrey commented on #14
Example: https://github.com/palfrey/potboiler/tree/bazel - the current version of Cargo.toml has no target. In that configuration, all the generated files under "remote" will include the `rustc_flags` "--target=x86_64-unknown-linux-gnu"

[2018-03-13 22:15] acmcarther commented on #14
I dont know how that comment got submitted already... Sorry about that. Juggling a couple things at once (I suppose thats status quo for everyone).

**TL;DR: This (2, from my initial comment) is a really hard problem and could really benefit from ideas and use cases to help narrow down the problem space.**

---

For (2), there needs to be a lot more thought. There's a pretty serious mismatch in ho

[2018-03-13 23:28] mfarrugi commented on #12
Random thoughts from interacting with tooling:

I have been hand writing a Cargo.toml for each of my BUILD files to get intellij-rust support, since my Cargo.toml generator is kind of fuzzy. We will definitely need a Cargo.toml to exist for the rest of the ecosystem to work well with bazel built code, but the duplication is not ideal (without saying anything about intellij-rust being its own sort

[2018-03-14 00:45] acmcarther commented on #12
@mfarrugi: What do the tools you use need from the Cargo.toml? I expect that RLS would like to be able to actually compile the code -- I don't think this is possible in general. You can trivially concoct a dependency graph that includes a genrule -- which would be non-trivial to port across the boundary without running `bazel` itself.

If tools aren't trying to run a full compilation, it'd probabl

[2018-03-14 01:11] mfarrugi commented on #12
intellij-rust uses cargo metadata, and it's not using the rls at all. I've
already gotten most of the cases handle w/ the cargo.toml aspect but I'm
not confident on how it should be disemminated or that it isn't fragile.

On Tue, Mar 13, 2018 at 8:45 PM, Alex McArther <notifications@github.com>
wrote:

[2018-03-14 04:32] bspeice commented on #16
I'm interested in getting the remote working - moving more of the hard work towards bazel. That said, recent PR should add support for Git, I tested it working using the dependency you specified.

[2018-03-14 17:51] acmcarther commented on #1
Fixed in 1a8e659

[2018-03-14 17:51] #1 closed

[2018-03-14 18:00] acmcarther opened #23 "Automate smoke testing"
Due to the deficient test suite, when I'm preparing to submit code to google/cargo-raze I run a smoke test against cargo-raze-examples. The steps look roughly like this:

[code]

This runs `cargo-raze` across a swath of configurations and attempts to build them. If we run Travis in `sudo` mode, it should be possible to do this in CI -- though this will then require:
1) The rust tests to be run "ma

[2018-03-14 18:05] acmcarther opened #24 "Support non-standard registries in remote mode"
Remote GenMode is currently masquerading as if it supports arbitrary registries, but in reality it only supports the standard registry due to how it is pulling down the crates:

https://github.com/google/cargo-raze/blob/726148a42640d257577bb3859bae629529d53f3b/src/templates/remote_crates.bzl.template#L11

Normally, this should be using something derived from the registry url, but there is a weird

[2018-03-14 18:07] acmcarther commented on #24
The url in that issue is dead (as it wasn't directly linked to the commit)

Here is the relevant snippet

[code]

[2018-03-14 18:21] acmcarther opened #25 "Use more multi-plat friendly mechanism to execute build scripts"
This is a migration of https://github.com/acmcarther/cargo-raze/issues/10

---

@lilianmoraru on https://github.com/acmcarther/cargo-raze/issues/6 noted that usage of genrule's cmd flag isn't very cross platform. Instead, we should pass a complete binary to genrule.

The relevant file is
build_script.template

Maybe a py_binary would be better?

[2018-03-14 21:33] #23 closed

[2018-03-15 17:50] acmcarther commented on #16
I believe that this is currently "incidentally" supported in vendor mode in https://github.com/google/cargo-raze/pull/28.

I did some ad-hoc manual testing there, but https://github.com/acmcarther/cargo-raze-examples/pull/5 will ensure it.

[2018-03-16 02:01] bspeice commented on #16
Confirmed that #28 works for vendored mode. I'll be working on code for remote mode next unless @acmcarther beats me to it.

[2018-03-16 02:26] acmcarther commented on #16
@bspeice have at it if you'd like!

Some initial direction:

1) The information you want will probably be available in  `metadata.packages[*].source`, though I'm not sure the best way to parse out the git repo details. Cargo's own source might be a good inspiration. The type of the field before serialization into a string was `SourceId`, and it can probably be turned back into one of those if that

[2018-03-19 13:06] SirVer opened #32 "Set RUSTC environmental for build scripts"
Some crates, like `cargo_version` (https://github.com/Kimundi/rustc-version-rs/blob/master/src/lib.rs#L126) use this environment variable to figure out which rustc is running. This crate is for example a dependency for rusoto.

Changing the auto generated rusoto_core `genrule` to settings this variable using `export RUSTC=\"$$PWD/$(location @rust_linux_x86_64//:rustc)\";"` and adding it in the too

[2018-03-19 14:21] acmcarther commented on #32
Hmm.... I think there is an additional subtlety here:

If a user has some version of rustc that's not following the exact import pattern that is suggested by `rules_rust`, they might see some really confusing stuff when they set `gen_buildrs = true` for the first time.

Perhaps this `rustc` path should point at an alias rule defined in `//.../cargo` as `rustc`. I don't think there is a good way to

[2018-03-19 19:58] SirVer commented on #32
I think it is perfectly fine to hardcode the naming schema that rules_rust are using. raze could be advertised and bound to rules_rust as a package - which is very attractive indeed. And if somebody feels like they need to support a different naming scheme, they can always use the `bind` escape hatch - if I understand the bazel docs correctly.

[2018-03-19 23:16] acmcarther commented on #32
Ah, actually, we're already hardcoding the exact path in existing rules, as part of the load statement:

[code]

Whenever we add a `rules_rust_path` rule, we can solve everything at once. For now, I don't think we need to worry about such flexibility.

[2018-03-19 23:19] acmcarther opened #34 "Unify remote and vendored template files"
Splitting them out was a hack for supporting remote dependencies.

CLs like https://github.com/google/cargo-raze/pull/33 expose how ugly of a hack it really was.

It should be possible to resolve this by using a template per-(remote/vendor) to supply a function to use to resolve the dependency path.

[2018-03-27 17:41] acmcarther opened #36 "`cargo package` includes examples/ and smoke_test/"
We should nest the crate source and `Cargo.*` files under a directory (`impl` is my current preference) so that `cargo package` doesn't include them in the packaged `crate` file.

cc: @bspeice

[2018-03-27 17:47] acmcarther commented on #36
This is what I did:

[code]

For some reason, the `cargo` directory isn't in the `examples/vendored/complicated_cargo_library` -- I currently suspect that cargo has some sort of hacky file filtering.

[2018-03-28 01:00] acmcarther commented on #32
I'm reverting that CL for two reasons

1) It hardcodes the _linux_ rustc.
2) It didn't include `rustc` in the _tools_ section.

I only noticed when trying to use this for a local build. Need to figure out why CI didn't catch it.

[2018-03-28 02:07] acmcarther opened #38 "Support BUILD gen for rust-libloading"
libloading recently made a change to bundle C file to have a weak mutex:
https://github.com/nagisa/rust_libloading/issues/32

This is a corner case of raze -- its not really possible to either

1) Run the build script and scoop up the build object file

OR

2) Override via raze.crate settings what it _would_ have done, without just overriding the whole crate.

Furthermore, the build script itself

[2018-03-28 02:49] bspeice commented on #36
Solution similar to how `futures` currently has a cargo workspace setup? https://github.com/rust-lang-nursery/futures-rs/blob/master/Cargo.toml

[2018-03-28 07:05] nagisa commented on #38
Hi!

Would it help you if I ended up implementing a configuration switch in the library which would allow you to "pick" the old `lazy_static` approach?

It would still need you to figure out how to emit the necessary `CARGO_CFG` environment variables as well as giving rustc the relevant `cfg` flags, but it would definitely help in that `libloading` would no longer generate a C helper.

For referen

[2018-03-28 16:05] acmcarther commented on #38
Hello @nagisa! I appreciate your input here!

It would not likely be the best use of your time to add back support for `lazy_static`. Although I would be aware of the flag (and use it!), there's not currently a way for that knowledge to be "disseminated" to other folks who use `cargo-raze`, and the Mutex fix as currently implemented is a fix to a real problem that users of `cargo-raze` aren't immu

[2018-03-28 16:13] SirVer opened #39 "Suppress stderr output of `build.rs`"
My fellow engineers at Lyft complain that building the rust stuff generates a ton of noisy output on the command line. The reason is that when we run `build.rs`, we still echo all the `stderr` these scripts generate - though of course bazel is ignoring them entirely.

Can we suppress the output of stderr/stdout when we run these scripts?

[2018-03-29 03:33] acmcarther commented on #39
Something like [this](https://github.com/google/cargo-raze/compare/master...acmcarther-patch-1) would work, but I'm not sure if this is exactly what we'd want.

Have you done the mental legwork to make sure we'd never want to see output from the build script? That's not rhetorical, I'm genuinely not sure....

[2018-03-30 02:09] bspeice commented on #36
So, I thought this was going to be straight-forward - move the implementation to a new directory, set up a Cargo.toml workspace, and call it a day.

Turns out it's not quite so nice:

[code]

If you don't distribute a root-level `Cargo.toml` everything still works out, but you lose the ability to `git clone; cd repo; cargo build`.

[2018-03-30 07:30] SirVer commented on #39
I doubt we ever want to, since the stderr output is meant for cargo. So it has merit when you need to thinker the build rules, but for regular building it is definitely not required.

I think this is the best approach. The output is then available when you ask for verbose build failures and hidden otherwise.

libsdl2-sys outputs a few lines. I think ring is the most spammy.

[2018-03-30 19:09] mfarrugi opened #41 "Snowflake crate issues (aka. exotic build.rs)"
Moving https://github.com/acmcarther/cargo-raze/issues/16 over here.

tldr; sys crates, environment variables, file includes, and bespoke logic.

Conveniently I haven't run into many additional problems, and our set of overrides hasn't grown.

[2018-03-30 19:22] mfarrugi opened #42 "Support vendoring directly into root (workspace_path = "//")"
Offspring of https://github.com/acmcarther/cargo-raze/issues/12

This is a mild convience that would let us refer to dependent crates as something like `@cargo//:log`.

This may also help with efforts around canonical dependency naming, though I suspect we are far from having bazel+rust projects depend on each other without going through cargo.

[2018-04-03 22:21] negator opened #43 "Support for targeting multiple architectures"
(Moving from: https://github.com/acmcarther/cargo-raze/issues/33)
It would be great if there was a straightforward way to add support for multiple architectures at once. A bit like how the Bazel --ios_multi_cpus works, but perhaps just allow an array of targets in Cargo.toml, which generates arch specific rules.

Answer from @acmcarther:

"I'm certainly open to this, but each target generates feat

[2018-04-03 23:06] negator commented on #43
My first thought was to organize the generate rust rules into arch specific subdirectories under `deps`, like rust does with `target`.  And generate a top level `BUILD` file that alias the arch specific ones switching on target cpu specified by `config_setting`.

Something to the effect of:
-deps
  |-BUILD (aliases)
  |-arch_64_apple_ios
     |-BUILD
     |-remote
        |-...BUILD (referencing a

[2018-04-14 17:32] bspeice commented on #36
@acmcarther - I don't have the ability to close this issue since I didn't create, can you mark it done?

[2018-04-14 22:39] acmcarther commented on #36
Done

[2018-04-14 22:39] #36 closed

[2018-06-04 22:26] mfarrugi opened #48 "Make #18 more noticeable"
It's difficult to notice given the flood of output, and can happen often when versions are changing.

Might be better to hard fail and alert the human, or hide some of the other output.

[2018-06-05 04:18] acmcarther commented on #48
Perhaps we could suppress most of the other output or quietly write it into somewhere temp-like?

Thoughts?

[2018-06-06 15:12] mfarrugi opened #51 "rustc_demangle 0.1.8 generates invalid BUILD file"
[code]

Both targets end up w/ the same name.. don't have time to chase this down right now.

My work around was to comment out the binary target.

[2018-06-06 15:13] mfarrugi commented on #51
At a glance it looks like my version of raze is outdated since https://github.com/google/cargo-raze/blob/master/impl/src/templates/partials/rust_binary.template sanitizes the names

[2018-06-06 18:22] acmcarther commented on #51
What's the action item here? New release?

[2018-06-06 19:34] mfarrugi commented on #51
I had an update script pinned to raze v11, didn't realize it was so far behind -- so this is entirely on me.

Could stamp generated files with the version number, but I don't know if that really helps.

[2018-06-06 19:34] #51 closed

[2018-06-11 22:58] acmcarther opened #52 "Produce a proposal for composable workspaces"
I'm not really sure how widely I'd like this scoped but the reality is that there are workspace-level projects that will depend on something _like_ cargo-raze to synthesize a list of dependencies for use external to the workspaces themselves. These use cases will need a real answer to the composition problem.

Specific examples:
https://github.com/bazelbuild/rules_rust/pull/92
https://github.com/p

[2018-06-11 23:01] acmcarther commented on #52
Yanking people who have some degree of stake in the issue here: @mfarrugi @damienmg. Feel free to respond later / ignore / add response emoji as appropriate.

[2018-06-11 23:11] acmcarther commented on #52
Prior art:
https://github.com/acmcarther/cargo-raze-examples/blob/8dba8be7d0ef1e71a4258a5d43c6808f884a7c7f/bazel/complicated_cargo_library/Cargo.bzl

This is a variant of the older cargo-raze logic that defers rule generation to later in the bazel pipeline. Instead of generating BUILD files, it generates `bzl` files that contain structs loaded with details about each crate.

[2018-06-12 09:02] damienmg commented on #52
@acmcarther My view on that is that cargo raze should emit flat list of dependency that use a custom crate_repository that would download the crate and generate the correct build file with dependency.

The bad thing with that solution is the duplicate external dependency line in the crates.bzl file that would contains multiple configuration but that is fine because bazel doesn't download them unle

[2018-06-13 02:14] mfarrugi commented on #52
(I'm not confident in my understanding here, so take this with a grain of salt)

The current stopgap solution to this seems to be having canonical workspace names for crates, like https://github.com/bazelbuild/rules_go/blob/07ef9e307a8f0095e5b10a70e1d291eace65eb61/tests/integration/popular_repos/popular_repos.bzl#L21

This doesn't appear to let us handle version resolution / conflicts at all.. but

[2018-06-13 08:04] damienmg commented on #52
FWIW #50 is already introducing the use of native.existing_rules to avoid a package being loaded twice.

Raze convention `raze__<crate>__<major>_<minor>_<patch>` seens to work fine and the crates.bzl file is creating convenience aliases.

The issues I see:

- [ ] bazelbuild/rules_rust#2 lack of cargo_crate repository lead to lot of checked in build files.
- [ ] #8 which is not resolvable unless re

[2018-06-13 22:45] acmcarther commented on #52
@damienmg:

There is a particular problem I'm trying to highlight in this issue that's separate from the physical crates being pulled down. Maybe a table helps.

| Stage | Current Cargo-Raze | Hypothetical Composable Cargo-Raze | Cargo |
| ------------- |-------------| -----|------|
| `Declaration` | Cargo.toml | *Cargo.toml?* | Cargo.toml |
| `Version Resolution` | BUILD | Something.bzl | Cargo.l

[2018-06-13 23:04] acmcarther commented on #52
As an extension of that:

The historical reason why "cargo_crate" hasn't existed is because it requires non-local state to be stored somewhere (in the form some kind of "registry"). As far as Cargo has defined them -- or at least _how I understand Cargo to define them_ -- Crates can't exist in a vacuum. Their dependencies can only be resolved in some larger context where the search space of possib

[2018-06-14 15:22] damienmg commented on #52
I think we are on the same page. I basically want to move to your second column now by having a "cargo_crate" repository that raze would generate and that simply download the crate and create the corresponding build file with the dependency it has constructed. I have a prototype almost ready for doing that.

We could actually do all the version resolution in the same way by shelling out to cargo b

[2018-06-14 22:08] damienmg commented on #52
By the way, I drafted a prototype to address bazelbuild/rules_rust#2 at bazelbuild/rules_rust#100 :)

[2018-06-21 19:58] acmcarther commented on #52
The discussion here is fragmentary and I've shotgunned the same statement across several issues. I'll reiterate it here.

_Any `cargo_crate` build rule that functions outside of the most simple use case is going to need a lot of params and it'll need to delegate a lot of work to the person or system figuring out what those params are_.

By itself, `cargo_crate` can't do enough work to pull its own

[2018-06-21 23:08] acmcarther opened #53 "CrateContext.features needs to be specialized using the target_triple"
This is something I've harped on several times:

https://github.com/google/cargo-raze/issues/52
https://github.com/bazelbuild/rules_rust/pull/100

(details discussed in rust-lang/cargo#5122 )

... But this is actually implemented incorrectly at the moment. Right now, we're just "trusting" the target_triple agnostic features[1]. Instead, we need to specialize them to match the dependency specializa

[2018-06-21 23:27] acmcarther commented on #53
....

Actually, per https://github.com/rust-lang/cargo/pull/5122#issuecomment-370490263

This is a bug in cargo, and fixing it would be a divergence from cargo's _current_ behavior. I'll avoid resolving this now, but keep the issue open and the related code areas tagged with TODOs. https://github.com/rust-lang/cargo/issues/4463 seems to be the most related description of the issue and has lots of

[2018-06-22 09:18] damienmg commented on #52
Alex, I might be wrong but I see the `feature` functionality as pretty similar to Bazel constraints system. We could emit BUILD file that have those feature and express which dep+feature which target+feature as Bazel constraints. In my current view, cargo raze would emit the deps list as cargo_crate rules that would just download cargo files and create the good BUILD file. Ideally the cargo_crate

[2018-06-22 15:42] acmcarther commented on #34
Fixed in https://github.com/google/cargo-raze/pull/45

[2018-06-22 15:42] #34 closed

[2018-06-22 15:44] acmcarther commented on #32
I actually only just got around to reverting this, but I have a replacement for it scoped for https://github.com/google/cargo-raze/pull/54

Since that PR introduces a notion of platform (derived from Cargo target_triple) we should be able to perform a `select` against the *host platform* to locate the appropriate tool for the build script.

[2018-06-25 04:32] acmcarther opened #57 "Support Metadata.Packages.sha256 from `cargo metadata`."
Ctx in https://github.com/google/cargo-raze/pull/47

SerializedPackage:
https://github.com/rust-lang/cargo/blob/9c78c3a17ac4bc0c8b3b837095f60aa84d09c426/src/cargo/core/package.rs#L32-L49

[2018-06-25 17:02] acmcarther commented on #7
cc https://github.com/rust-lang/cargo/issues/5583

I wasn't aware that these were outstanding issues. I'm currently working around lack of platform-specific details by performing dependency pruning:

https://github.com/google/cargo-raze/blob/2e4128f49ffaf7726002e30930db2aedbf205238/impl/src/planning.rs#L248-L257

(using dependency.target and comparing with the configured target).

https://github.c

[2018-06-27 00:11] acmcarther commented on #16
This was fixed in https://github.com/google/cargo-raze/pull/44

[2018-06-27 00:11] #16 closed

[2018-07-10 16:15] acmcarther opened #58 "Add build_file_path [raze.crate.version] override that supports providing a custom build file"
This is a pretty finicky proposition, all told. Dependencies are generally versioned and those versions can change due to non-local causes which would require manually updating the build file. One example of such a cause would be newly including a dependency that forces another dependency to downgrade.

The cleanest implementation of this would somehow allow the BUILD file author to refer to depen

[2018-07-10 23:44] mfarrugi commented on #58
Fwiw the two examples (backtrace-sys and libloading) have no dependencies, which should usually be the case for -sys crates.

The only reason I've seen to override BUILD files completely has been to replace build.rs files that are building an inlined c library.

[2018-07-24 19:17] mfarrugi commented on #41
https://github.com/briansmith/ring/blob/master/build.rs is a doozy, it's upstream of actix-web :|

[2018-07-24 19:38] acmcarther commented on #41
Got an initial read of that thing? Does it look like we can run it if we provide the right env vars?

[2018-07-24 20:13] mfarrugi commented on #41
It might, wanted to keep track before I got the chance to take a deeper look.

[2018-07-25 12:49] vitalyd commented on #41
A few notes from my attempt at looking at `ring` that @mfarrugi brought up:

- https://github.com/briansmith/ring/blob/master/build.rs#L270 looks for the `CARGO_PKG_NAME` envvar - this isn't set in the build script wrapper that `cargo raze` generates (but is set in `bazel rust`, for example: https://github.com/bazelbuild/rules_rust/blob/master/rust/toolchain.bzl#L23).
I'm pretty sure the intended

[2018-08-01 09:31] photex commented on #14
Hello! Just wanted to chime in here as I decided to experiment with cargo-raze and bazel.

At work we have a monorepo that is inherently a multi-arch build. We essentially only support linux but build for x86_64 and aarch64 (some targets are limited to a single architecture, most will be built for both). We have some bare-metal stuff, but that's currently a separate build.

At the moment the build

[2018-08-01 09:45] photex commented on #17
It isn't possible to collate all Cargo.tomls in my use-case because I have several crates that generate libraries. Using a cargo workspace is currently the only way for this to work if you want to avoid duplicated target directories with redundant crate compilation.

[2018-08-01 10:00] photex opened #59 "Unable to use cargo-raze when vendored to subdirectory"
Howdy!

I'm just trying to get started with this and explore this as a viable path from using cmake and cargo to using Bazel for a mixed C++ and Rust monorepo.

Right out of the gate though I'm running into troubles. I've run `cargo vendor -x vendor/crates`. I'm using the 'vendor' prefix because this is where we've already established our location for vendored C and C++ libraries.

I've created a

[2018-08-01 11:26] photex commented on #59
Ok I see at least part of the problem... it is expecting to find yet another folder specifically named 'vendor' under `//vendor/crates`.

Is it possible to control this value?

[2018-08-01 11:28] mfarrugi commented on #59
Currently the raze Cargo.toml needs to be in the directory corresponding to workspace_path, and the cargo vendor directory needs to be below it, so

vendor/crates/Cargo.toml
vendor/crates/vendor

Is what you need.

[2018-08-01 11:33] mfarrugi commented on #17
When I say collate them, I meant their dependencies, the raze toml is just telling cargo vendor what to download and raze what to generate build files for. At some point you'll replace all other Cargo.toml with BUILD files.

This should be functionally identical to a cargo workspace, though it may be more difficult to explicitly use multiple versions of an external crate.

[2018-08-01 11:38] photex commented on #17
My problem partly seemed to be that the root workspace Cargo.toml had sway over the Cargo.toml in the raze package. I'm required to include it in the workspace manifest since it's a subdirectory. This pulls in the workspace lock file which also incorrectly wants to include my crates from the repo as vendored dependencies.

[2018-08-01 13:32] photex commented on #59
Thanks, this got me sorted and on to the next issues.

[2018-08-01 13:32] #59 closed

[2018-08-01 13:42] photex commented on #41
Howdy!

I didn't see any special handling for backtrace or backtrace-sys in the crater or other examples, but with my dependency on the failure crate I'm getting backtrace 0.3.9 and backtrace-sys 0.1.23 as transitive dependencies.

This version of backtrace-sys has been renovated compared to 0.1.16:
https://github.com/alexcrichton/backtrace-rs/blob/master/backtrace-sys/build.rs

I'm unable to link

[2018-08-01 14:05] mfarrugi commented on #41
This requires building it's c portion explicitly, we've done this
internally I'll try to share it

On Wed, Aug 1, 2018, 09:42 Chip Collier <notifications@github.com> wrote:

[2018-08-01 14:10] photex commented on #41
I see. I'd just be adding a new rule more or less replicating the effect of the build.rs then? And does that require fooling with output from cargo-raze?

[2018-08-01 18:49] mfarrugi commented on #41
@photex

cargo/Cargo.toml
[code]
cargo/overrides/backtrace-sys-0.1.23/ contains a copy of the crate, with the following added

cargo/overrides/backtrace-sys-0.1.23/BUILD which is a modification of the generated file
[code]

This magical series of steps should be improved by #58

[2018-08-01 19:38] photex commented on #41
Thanks for so quickly sharing your solution @mfarrugi. I would not have worked this out so fast on my own.

[2018-09-15 17:01] mfarrugi commented on #41
Ran into new build scripts!

[proc-macro2](https://github.com/alexcrichton/proc-macro2/blob/master/build.rs)
[lazy-static](https://github.com/rust-lang-nursery/lazy-static.rs/blob/master/build.rs)

Our solution was to hardcode the `--cfg` flags in the raze `Cargo.toml` that cargo would have come up with.

[2018-09-16 02:43] acmcarther commented on #41
I needed to link libsqlite3-sys, and found that it uses some interesting bindgen options that I couldn't replicate via bindgen executable flags:

https://github.com/jgallagher/rusqlite/blob/master/libsqlite3-sys/build.rs

Specifically, it overrides the integer type inference via a callback passed to the bindgen library to cause the `#define` decls in sqlite3.h to be i32 instead of u32. I'll be nee

[2018-09-22 21:39] pcj opened #61 "Build with bazel?"
Given that this project is a bazel build file generator, seems like it should build with bazel.  Specifically, I'd like to pull down and reference a `rust_binary` without having to use crates.io / cargo itself!.

[2018-09-22 22:36] acmcarther commented on #61
Similar issue from a while ago:
https://github.com/acmcarther/cargo-raze/issues/14

Historical blocker has been that this crate transitively depends on SSL crates (via Cargo itself), which require manual tweaks. Some thought also would need to go into what the bootstrapping behavior should look like. I've punted on this because I'd like a more general/durable approach for patching generated BUILD

[2018-09-22 22:47] mfarrugi commented on #61
@pcj is vendoring (a release of) the binary sufficient?

Is your goal for a user to be able to build a repository with just an installation of bazel, or something else?

[2018-09-23 07:13] pcj commented on #61
Well, I think what I'd like to do is use cargo-raze in a similar manner to bazel-gazelle.  In that scenario, a user declares a dependency on `io_bazel_rules_go`, a dependency on `bazel_gazelle`, and then has a `gazelle()` rule in a `BUILD` file that, when run, modifies the `BUILD` files in the workspace.  It has to do a realpath trick to break out of the sandbox and figure out the actual workspace

[2018-09-29 14:26] pcj opened #63 "if name not in native.existing_rules()"
Should emit this by default as the guard for repository rule declarations to play nice with loading from multiple `crates.bzl` that have overlapping names`

For example:

[code]

[2018-09-29 15:07] pcj opened #64 "compiling terminfo"
I'm trying to pull in @damienmg's starlark crate and am seeing the folllowing issue.

Her is my `Cargo.toml` file:

[code]

When the terminfo dependency is compiled, I see the following error:

[code]

Any suggestions?

[2018-09-29 17:10] damienmg commented on #64
Hi Paul,

I haven't tried to build starlark with Bazel yet but I had to use terminfo on some other occasion, you need to declare that build.rs is needed in your `Cargo.toml`:

[code]

You will need that for starlark itself also:
[code]

If you succeed, feel free to send PR to add this to the starlark documentation (or even add a Bazel build to it).

[2018-09-29 20:44] pcj commented on #64
Thanks, that got me farther.

[code]

Any ideas about this one?

[code]

[2018-09-29 21:00] mfarrugi commented on #64
https://github.com/google/cargo-raze/issues/41#issuecomment-421599764 was the answer to lazy static; the general formula is running the build_rs or replicating what it does (eg. by hardcoding flags)

[2018-09-30 01:15] pcj commented on #64
Thank you!  Farther again, but stuck once more.  Although proc_macro2 was mentioned in the comment you referenced, applying those cfg values does not seem to resolve the issue within the `syn` library:

[code]

[code]

Any additional suggestions?

[2018-09-30 17:30] mfarrugi commented on #64
I updated the linked post, our file has
[code]
I don't recall any difference between `--cfg=` and `--cfg<space>`.

Also, I don't see a build.rs in syn but that doesn't look relevant.

[2018-09-30 20:27] pcj commented on #64
The space didn't seem to matter.  If I look at the features of the syn build file, it has both proc-macro and proc-pmacro2 features.  Should these be orthogonal?

[code]

[2018-09-30 21:12] mfarrugi commented on #64
I don't have much background w/ features.
At a glance https://github.com/dtolnay/syn/blob/master/Cargo.toml doesn't
actually have a proc-macro2 feature, and raze is not seeing the features as
dependency's feature.

On Sun, Sep 30, 2018 at 4:27 PM Paul Cody Johnston <notifications@github.com>
wrote:

[2018-09-30 21:35] pcj commented on #64
Manually removing the `proc-macro` feature and retaining the `proc-macro2` feature did the trick.  Is there a way to suppress this in the generator?

Next one is:

[code]

The `serde_derive` `Cargo.toml` has:

[code]

How would this be expressed with cargo-raze?  Thanks for all your responses so far, very much appreciated and sorry to be such a pain.

[2018-09-30 21:57] SirWindfield commented on #41
@acmcarther I am currently trying to get `diesel` to compile through bazel but I always get weird errors with the following message: `error: linking with /bin/gcc failed: exit code 1`. Not sure what I am actually doing wrong. IIRC diesel does use libsqlite3-sys for the sqlite3 feature. Do I have to do any additional configuration? I have added the `gen_buildrs` flag but it still fails :sob:

[2018-09-30 22:17] mfarrugi commented on #64
The problem isn't in serde_derive, `parse_macro_input!` is not being
produced in syn somehow.. I haven't run into anything like this before.

On Sun, Sep 30, 2018 at 5:35 PM Paul Cody Johnston <notifications@github.com>
wrote:

[2018-09-30 23:36] acmcarther commented on #41
@SirWindfield
If your problem is the libsqlite3-sys, I can help with that, but you'll need to convert these instructions from rusqlite to diesel. This is also a pretty clunky process because I didn't actually write a bindgen rule, i just made this work manually:

1) First, I vendored sqlite3, with the following additions:
A ["bindgen runner"](https://github.com/acmcarther/void/blob/590be5e8df498dc

[2018-10-02 15:15] SirWindfield opened #65 "Issues installing the crate"
I always get the following error when trying to install via `cargo install cargo-raze`:

[code]

Not sure if that matters, but I have openssl installed. Strange thing is, I wanted to update cargo-raze, so I uninstalled it first. I could install it the first time without any problems. But now...

If you need any log files or other things, let me know.

[2018-10-02 16:08] mfarrugi commented on #65
This is isolated to building the openssl crate, the openssl build.rs is not
finding your install.

I would try building that version from source then following up with
openssl crate.
On Tue, Oct 2, 2018 at 11:15 Sven Lechner <notifications@github.com> wrote:

[2018-10-04 14:56] #65 closed

[2018-10-20 20:13] acmcarther opened #66 "Fails to build on systems with OpenSSL 1.1.1"
Moved from https://github.com/acmcarther/cargo-raze/issues/34

Per @alaroldai

---

Related: sfackler/rust-openssl#987

Because cargo-raze depends on an old version of cargo (v0.20.0, current version is v0.30.0), which in turn depends on an old version of openssl, cargo-raze fails to build on systems with OpenSSL v1.1.1 installed because the openssl crate fails to detect the installed OpenSSL vers

[2018-10-21 17:29] matt-duch opened #69 "Bazel builds of packages error out on recent bazelbuild/rules_rust with "Option 'target' given more than once""
When trying to build the example rust workspace with Bazel and using recent versions of the bazelbuild/rules_rust repo,

[code]
Results in an error: `error: Option 'target' given more than once`

Works on the commit previous to this one:
https://github.com/bazelbuild/rules_rust/commit/b3c8badf2c10ebad8b71a106d3398e28804728d0

[code]

[2018-10-22 18:16] #66 closed

[2018-10-22 19:49] #69 closed

[2018-10-23 17:04] johnedmonds commented on #52
I found my way here from the two rust protobuf PRs. Is there any update on this?

[2018-10-23 18:01] acmcarther commented on #52
@damienmg and I met some time in June to discuss this, but it was mostly just synchronizing on the idiosyncrasies of Cargo and we did not come to any decision on how to approach this problem.

It seems likely that in the short term we'll punt on a "good" solution to this problem. Instead, I suspect what will happen is that we'll provide a way for the required dependency to be provided by the user

[2018-10-25 02:28] chucksmash opened #71 "Compiling tera"
The tera templating library is a pretty tricky crate to get working under bazel. This issue could probably be considered a sub-issue of https://github.com/google/cargo-raze/issues/61 since cargo-raze depends on tera as well, but I'm opening a separate issue to avoid muddying those waters. It also requires handling some of the same obstacles (proc_macro2, lazy_static!) as https://github.com/google/

[2018-10-29 01:30] chucksmash commented on #71
Thanks for the quick response and the analysis! Knowing there's not a quick fix to use the crates unmodified saves me a lot of time. For my purposes vendoring and patching is fine.

It looks like Cargo checks ancestors of `pwd` and bails if it doesn't find one with a Cargo.toml (assuming this is the [relevant code](https://github.com/rust-lang/cargo/blob/b490af4d7db163190854fd9e21d9863ba443061c/sr

[2018-11-08 18:54] th0br0 opened #75 "Crates with native dependencies need missing environment flags for buildscripts"
The widely used `cc-rs` crate depends on the `OPT_LEVEL` and `HOST` environment flags and will crash if these are not present.
These should be provided to the genrule cmd for the `build_script_executor`s of child packages.

At the moment, it looks like `rules_rust` knows about the opt_level but I don't know how `cargo raze` would be able to know that at generation. Is this possibly exposed via som

[2018-11-08 19:19] th0br0 commented on #75
This is already tracked by #41

[2018-11-08 19:19] #75 closed

[2018-11-15 19:46] mfarrugi commented on #41
For completeness, here's our current raze Cargo.toml:

third_party/rust/cargo/Cargo.toml
[code]

third_party/rust/cargo/overrides/backtrace-sys-0.1.23/BUILD
[code]

third_party/rust/cargo/overrides/libloading-0.5.0/BUILD
[code]

this also serves as some additional context for https://github.com/google/cargo-raze/issues/58

[2018-12-01 01:46] GregBowyer opened #78 "Update released version for #73?"
Would it be possible to release a new version on crates.io for #73.

We recently updated `rules_rust` and now raze makes files that are slightly broken

[2018-12-01 02:14] acmcarther commented on #78
Released 0.1.3 with latest master

Please reopen if you notice any other incompatibilities with recent rules_rust

[2018-12-01 02:14] #78 closed

[2018-12-07 00:19] mfarrugi opened #79 "edition support"
https://github.com/bazelbuild/rules_rust/issues/157

without rules_rust changes, raze can emit `--edition 2018` as needed

[2018-12-07 00:48] acmcarther commented on #79
I think we need to take this information from the individual crates. We can't assume that an arbitrary crate is 2018 compatible.

[2018-12-11 14:35] vitalyd commented on #79
@acmcarther (or anyone else, really), how involved is adding `--edition` support? Naively, I'd imagine this shouldn't be too bad: propagate `cargo` manifest's `edition` value, if present, to the generated `BUILD` file.  I suppose while https://github.com/bazelbuild/rules_rust/issues/157 is still open, `raze` can add the edition as a `rustc_flags` argument.

Is that accurate? If so, any idea when t

[2018-12-11 18:02] acmcarther commented on #79
Sorry for the delay on this. I haven't been able to set aside much time recently to hash this out.

[Edition is a new field in SerializedTarget](https://github.com/rust-lang/cargo/blob/master/src/cargo/core/manifest.rs#L263-L275). This field is supposed to be one to one with our [`metadata::Target`](https://github.com/google/cargo-raze/blob/master/impl/src/metadata.rs#L114-L127) .

This field ough

[2018-12-19 03:32] mfarrugi commented on #79
And with https://github.com/pacman82/atoi-rs/commit/58633976e59c2359b1c576069c2ff31ebc505a26#diff-80398c5faae3c069e4e6aa2ed11b28c0 I've run into this as a problem :)

For now it sufficed to pin the dep to the previous version.

[2019-01-04 20:14] #71 closed

[2019-01-09 21:37] #79 closed

[2019-01-18 20:58] mfarrugi opened #83 "Not all binaries have a library to depend on (can't build ripgrep)"
Added

[code]
to my Cargo.toml, but get an error when trying to build `:cargo_bin_rg` because it depends on a library target that doesn't exist.

---

https://github.com/google/cargo-raze/blob/d98b6818c04b5c36ef0b6523bd224e6f52d113b4/impl/src/templates/partials/rust_binary.template#L10-L11

This ought to be a little smarter.. any suggestions?

[2019-01-22 02:49] acmcarther commented on #83
I've got a short wip fix for this [here](https://github.com/google/cargo-raze/compare/acm-fix-bin-planning) that just adds a bool to check if the crate has a lib with the same name, but I want to make some other quick changes to make testing features at the crate level easier.

I should have a PR up for this in the next day or two.

[2019-01-23 01:44] acmcarther commented on #83
Seems I've made a bad assumption in that implementation. I assumed that lib targets that don't share the name of the crate won't be automatically linked. This actually isn't correct in practice. Instead, there is only ever one "lib" target in the target set, and that target is automatically linked to some of the other targets (binary for sure, build script definitely not).

.... And, my sleuthing

[2019-02-03 23:10] GregBowyer commented on #12
@mfarrugi I think maybe we should go the otherway and add the support to the bazel intellij plugin to have it configure rust support correctly.

[2019-02-03 23:17] mfarrugi commented on #12
@GregBowyer I think that both plugins are fairly unstable, and getting them to play nice isn't something I would volunteer for.

@damienmg you mentioned recently you were working on this, how is it looking :)?

[2019-02-04 00:46] acmcarther commented on #58
@mfarrugi: You referenced this issue in https://github.com/bazelbuild/rules_rust/pull/108. Are you just interested in replacing the BUILD file with some provided local file's contents?

Assuming that to be the case the change isn't onerous.

[2019-02-04 00:46] #83 closed

[2019-02-04 12:44] damienmg commented on #12
Yes sorry I did not had time to work much on that recently. I will share my code as soon as I can go back to it but I can make bazel output Cargo.toml, metadata.json and rls-data.json files that should allow any of this tool to work fine with Bazel (still need to be tested fully).

RLS needs to have Cargo.toml or rls-data.json. It delegate to cargo or custom build system for the initial builds and

[2019-02-04 21:24] acmcarther commented on #58
No, that's about it.

As a side note, it's going to be a bit of a hack as this bypasses the "planning" stage in the existing code structure (Metadata -> "Planned" Build -> "Rendered" Build).

[2019-04-05 00:23] mfarrugi opened #89 "proc-macro aliases aren't generated"
https://github.com/google/cargo-raze/commit/1e389359c769a35b00497627e3eb2f3e1e18a547#r33043678

It looks like that line also prevents proc_macro aliases from being defined (specifically serde_derive and structopt_derive)

[2019-04-05 03:53] acmcarther commented on #89
Fixed in #90

[2019-04-05 03:53] #89 closed

[2019-04-06 00:32] mfarrugi commented on #89
Looks like https://github.com/google/cargo-raze/blob/03b0005e26b2983a3bedf759b7f2822a681097f1/impl/src/templates/partials/rust_binary.template#L12 is missing a sanitize too, blows up on `protobuf-codegen` and some others.

[2019-04-14 18:29] mstg opened #92 "Question: Why not generate BUILD.bazel like other configuration generators?"
Hello!
This may be a "corner case" situation, but given other tools like Gazelle is generating BUILD.bazel, why isn't cargo-raze doing the same?

This would especially be helpful when using a case insensitive file system (Windows + WSL) considering some crates (openssl-sys) can have a directory called `build` and that makes cargo-raze fail with the following error message:
[code]

One can circumve

[2019-04-14 23:42] acmcarther commented on #92
Outputting `BUILD` instead of `BUILD.bazel` was not a deliberate choice on my part. The tool was developed primarily with the context of Google's internal monorepo, which still typically follows the `BUILD` convention. I'm quite open to converging on the more common filename.

I do have a concern that making this change quietly would cause subsequent runs of `cargo-raze` over existing filetrees to

[2019-04-15 08:02] mstg commented on #92
Thanks for your response.
Maybe a flag to output `BUILD.bazel` instead of `BUILD` could be introduced? Then it can just be added to the README for case insensitive file systems.

I'll take a look and see what I can do!

[2019-04-15 22:26] mstg commented on #92
Closing this issue in favor of #93 PR

[2019-04-15 22:26] #92 closed

[2019-04-26 14:42] Zintinio commented on #42
This would also help with dev tooling. Some editors / IDEs expect the `Cargo.toml` to be located in the root directory, and break unexpectedly if this is not the case. So to keep tools working, one needs to have both valid Bazel BUILD files and valid Cargo.toml files.

[2019-04-26 17:07] acmcarther commented on #42
Ack, will work on this tonight.

As noted in #12, the only reason this isn't currently supported is because I was lazy when handling paths, just following a convention of retaining a trailing slash everywhere. "//" is pathological in this simplistic model (in that "///" is invalid, and "/" is also invalid).

[2019-04-26 18:24] Zintinio commented on #42
@acmcarther thanks for the fast response! If you need help testing or any other simple tasks, please feel free to ping me.

[2019-04-26 19:29] mfarrugi commented on #42
@Zintinio you might want to chime in on https://github.com/bazelbuild/rules_rust/issues/71 as well if your usecase isn't already covered.

[2019-04-27 05:11] #42 closed

[2019-04-27 22:52] mstg opened #97 "Is there a reason build_scripts does not include flags?"
Hey!

Currently some crates (ex. ring) has conditional behaviour in their build scripts that can be specified with `--cfg` flags. Currently `cargo-raze` does not pass on flags to the `build_script` targets. Is there a reason for that?

Just wanted to check in, I can create a PR if it's acceptable to pass them to the `build_script` target.

[2019-04-28 01:35] mstg commented on #97
I think I may have understood something fundamental about the `CARGO_CFG_<cfg>` envs as they may not be related to `--cfg`? I'm still new to Rust, so I'm not sure.

[2019-05-02 12:46] Sythanis commented on #97
Fighting the same problem at the moment. Trying to compile `libpnet` crate which depends on `CARGO_CFG_TARGET_ENDIAN` variable. I believe this one should be provided by cargo as per [here](https://github.com/rust-lang/rfcs/blob/master/text/1721-crt-static.md#lowering-cfg-values-to-cargo-build-script-environment-variables). But I believe both `cargo-raze` and `rules-rust` circumvent cargo and call

[2019-05-03 00:54] acmcarther commented on #97
My recollection of these cargo specifics is unfortunately foggy (and incidentally the reason I punted on replying to this once it hit my inbox, though regretably I forgot about it until this subsequent ping).

I can say that we do properly propagate *feature* flags, which [manifest as "CARGO_FEATURE_*"](https://github.com/google/cargo-raze/blob/867caf5ec1f8d20fc01ff800eb3ee9e3ec6119fb/impl/src/tem

[2019-05-03 01:30] acmcarther commented on #97
For my own (future) edification while this is fresh in my mind, I want to expand a bit upon the  "build script runner" thing.

### Build Script Runner Thing

I think even since build script support was first implemented, the current approach of running the build script as a genrule was considered hacky. I went with this approach above something more sophisticated because I wanted to avoid forcing

[2019-05-07 18:03] acmcarther opened #98 "Update to use Cargo builtin vendor functionality"
cargo-vendor is being folded into cargo (in https://github.com/rust-lang/cargo/pull/6869) and it will be prudent to update the instructions accordingly.

[2019-05-11 20:54] akhilles commented on #43
Would it make more sense to do the select switching at the alias level or the generated BUILD file level? Also, rust_rules already has constraints based on target triples (https://github.com/bazelbuild/rules_rust/blob/master/rust/platform/platform.bzl). These can probably be used in the dependency selection.

[2019-05-11 22:12] akhilles commented on #41
@vitalyd covered almost all of the changes needed to get ring to compile. In order to address the `include_bytes` macro issue, some data directories need to be included in the sandbox. I was too lazy to find exactly what's needed, so I just added `data_attr = "glob([\"src/**\"])"` to `Cargo.toml` and this worked.

[2019-05-23 19:31] mfarrugi opened #100 "Looks like multiple versions of a crate with a build script clobber each other"
https://github.com/google/cargo-raze/blob/9c9e480c6e4fe8d1d8242fa6d397ee46351d0fc3/impl/src/templates/partials/build_script.template#L36

This ends up making that dir in `$execroot/mime_guess_out_dir_outputs`, and we have two versions of `mime_guess`, and it appears they're clobbering each other.

We should have a better idea if that's true and a fix for it in a little bit.

cc @vitalyd

Edit:
I i

[2019-05-23 21:50] prestonvanloon opened #101 "output_buildfile_suffix = "BUILD.bazel" does not work"
[code]

Link 49 of the workspace is `raze_fetch_remote_crates()`. Something is still referencing the default BUILD file path.

[2019-05-23 22:18] acmcarther commented on #101
Oops, thanks for reporting this and the extra details. #102 will fix this. I'll cut a release once I merge that (and will ping back here).

[2019-05-23 22:33] #101 closed

[2019-05-23 22:38] acmcarther commented on #101
Fix is in latest published version 0.2.7.

[2019-05-23 22:41] acmcarther commented on #100
Your explanation makes sense. I think I expected the output to land in a parallel directory structure, not just $execroot. I still have a bad mental model for how Bazel does things.

You can probably use `{{ crate.pkg_version }}` to make the path unique as a quick and hacky fix. I don't know if that might break for certain filesystem types though it would certainly be possible to sanitize it.

[2019-05-23 22:44] prestonvanloon commented on #101
Wow! Thanks for fast fix!

[2019-05-23 22:55] vitalyd commented on #100
@acmcarther, we’re thinking of prefixing the path to `mkdir` with `$$(dirname $@)` - that will get the dir for the `outs`, which should be unique.

There would be a similar change to include that path in the `OUT_DIR` variable setting.

I’m on mobile and will add a bit more detail tomorrow, but wanted to get your thoughts on this approach.

By the way, why is the genrule template setting `local=1`

[2019-05-23 23:08] acmcarther commented on #100
`$$(dirname $@)` sounds fine to me, but I don't have a deep understanding of the possible pitfalls there. If it functions and doesn't pollute the working dir, it sounds good to me.

I think the `local=1` decision is lost to time. I found the commit that includes it, but the description is pathetically bare:
https://github.com/acmcarther/cargo-raze/commit/1258b4df05b067f7e56b9dc73dce90150af03482

I

[2019-05-23 23:15] acmcarther commented on #100
Oh, misunderstanding on my part (though harmless).

Build script generation was originally added in https://github.com/acmcarther/cargo-raze/commit/1a2759645ba1e69a230695d1f5d0527a9453789d#diff-7989f6d09b526681306f518324ef478a. Notably, it does not include `local=1`. Build script support removed in the following commit, then re-added back in acmcarther/cargo-raze@1258b4d (mentioned in last comment

[2019-05-24 16:02] mfarrugi commented on #100
On the `local=1` aspect, apparently that's equivalent to tagging the target as `["no-sandbox", "no-cache", "no-remote"]` https://docs.bazel.build/versions/master/be/common-definitions.html

It might make sense to narrow this to `no-sandbox`, and/or make it non-default.

[2019-05-24 18:21] vitalyd commented on #100
So I made a PR for adding the `$$(dirname $@)` to the path in the genrule, but yeah, ideally we can just drop `local=1` altogether (or at least not make that the default).  The change in the PR is likely harmless even with `local=1` removed, although probably best to drop it to not leave unnecessary head-scratchers behind.

[2019-05-24 20:24] acmcarther opened #104 "Add flag to enable/disable sandboxing of build scripts"
Build script execution genrules currently set `local=1`. `tags = ["no-sandbox"]` is narrower than `local=1` and was the original intent, so I'll switch it to that for, but ultimately, I think disabling sandboxing should not be the default, but rather a crate option.

see also https://github.com/google/cargo-raze/issues/100

[2019-05-24 20:25] vitalyd commented on #100
@acmcarther thanks for the quick merge of the PR.  What's the process for getting it published to crates.io? Is that something you (someone else) do manually? Pardon my ignorance 😕

[2019-05-24 20:28] acmcarther commented on #100
I've been upping the version basically after every PR, but I also want to submit #105 this time. I'll submit that one once CI passes and then publish a new version

[2019-05-24 21:00] acmcarther commented on #100
Published 0.2.8 which includes #103.

I think #103 fixes the original issue so I'll close this, but please reopen it if you see issues.

[2019-05-24 21:00] #100 closed

[2019-05-28 12:59] vitalyd commented on #100
Great, thanks @acmcarther!

[2019-08-05 21:34] prestonvanloon commented on #41
I tried the suggestions from https://github.com/google/cargo-raze/issues/41#issuecomment-407743039 and https://github.com/google/cargo-raze/issues/41#issuecomment-491547697 could not get ring to build.

[code]

[2019-08-23 14:28] bweston92 commented on #98
Could this be why the examples aren't working? I get the following error:

[code]

[2019-08-23 14:46] bweston92 opened #107 "Vendored Cargo libraries not being picked up."
I have run the cargo vendor and it has created directories where I want them however they don't have a version suffix which seems required by this tool.

[code]

You can see the output below when I try to run `cargo raze`.

[code]

Versions

[code]

[2019-08-23 14:48] bweston92 commented on #107
Instead of using `cargo vendor -x` which fails you now need to use `cargo-vendor vendor -x`

See error message below:

[code]

Should we update the docs?

[2019-08-23 17:19] acmcarther commented on #107
Thanks for reporting this! Yeah I did see [the inclusion of cargo-vendor in cargo](https://blog.rust-lang.org/2019/08/15/Rust-1.37.0.html) fly by my news feed, but it slipped my mind to update the docs here.

I regret to see that explicit versions are not supported out of the box. I've filed https://github.com/rust-lang/cargo/issues/7291 accordingly.

I can commit to figuring out what actually wor

[2019-09-09 06:13] qzmfranklin commented on #61
Agree with @pcj on making cargo-raze be similar to bazel-gazelle in terms of bootstrapping. That is more general.

Looks like this issue has been stale for a while. Is there any initiative from within Google that does this?

[2019-09-10 17:51] acmcarther commented on #61
There isn't any existing effort to make this happen. This project is a 20% effort (largely less than that recently), and community input and contributions are very welcome.

[The notes from a meeting of large companies using rust](https://users.rust-lang.org/t/rust-in-large-organizations-meeting/32059) (direct link to notes [here](https://gist.github.com/rylev/0e3c3895dcb40b6a1c1cf8c427c01b5e)) ar

[2019-09-19 10:31] Sythanis opened #110 "Log 0.4.8 and 0.3.9 generation issue --cfg=atomic_cas"
hey @acmcarther, not sure if that is problem of cargo raze or rules_rust but the recent dependency on `log 0.3.9` fails to build. Example that indirectly depends on that log version is `slogger` or `grpc-0.6.1` crates from crates.io.

The problem seems to lay that `log-0.3.9` imports `log-0.4.8` which core method `set_logger` depends on atomic operations that are flipped via `atomic_cas` cfg flag.

[2019-09-22 20:51] IronPeak opened #111 "Cargo workspaces interfere with cargo raze"
I have cargo workspaces setup in my project for the `rust rls` extension in vscode along side Bazel.

If I try to follow the setup instructions for vendoring I get:

[code]

I have found that I can successfully run `cargo raze` if I delete the `Cargo.toml` workspace and follow the instructions.

[2019-09-23 22:41] acmcarther commented on #111
I see. The right behavior here is probably to ignore those workspace crates. It looks like the list of workspace crates is available in `metadata.workspace_members`. I'll add this and prune these from the vendor check.

Thanks for reporting, I'll update this issue when it's fixed.

[2019-09-23 23:07] acmcarther commented on #111
Oh, I should add one more thing.

cargo-raze doesn't currently generate a BUILD file for workspace crates. It's not difficult to add this if there are opinions about where these files should be generated to.

[2019-09-23 23:21] acmcarther commented on #110
Thanks for filing this.

Looks like Cargo sets this cfg on most platforms [in their build.rs](https://github.com/rust-lang-nursery/log/blob/master/build.rs#L9-L11). This is something that's hard for me replicate in cargo-raze even with current build.rs support, because we lack the ability to plumb from build.rs stdout to attrs for the dependent crate.

https://github.com/google/cargo-raze/issues/9

[2019-09-23 23:24] #111 closed

[2019-09-23 23:29] acmcarther commented on #111
This is in 0.2.10.

I suspect there may be other issues or missing features with workspace crates. Please feel free to reopen or open another issue and I'll take a look.

[2019-10-10 06:37] tagantroy opened #113 "Cannot build project with reqwest library"
After I added reqwest library to project and generated configuration using cargo raze I faced this problem:
`ERROR: /private/var/tmp/_bazel_ivan.balaksha/a31986fffc10f0562ce33cba6301266a/external/raze__rand_jitter__0_1_4/BUILD.bazel:29:1: error executing shell command: '/bin/bash -c CARGO_MANIFEST_DIR=$(pwd)/external/raze__rand_jitter__0_1_4 external/rust_darwin_x86_64/bin/rustc "$@" --remap-path-

[2019-10-10 21:58] acmcarther commented on #113
This error indicates that `rand_jitter-0.1.4` is trying to bring in libc without having it as a crate dependency.

Crate source: https://github.com/rust-random/rand/tree/673c6ab6392a5bbad0c67d70b6d6af483b21067f/rand_jitter

Looks like this dependency is only brought in when compiling for OSX.

Looks like it's specified correctly in rand-jitter's Cargo.toml:
https://github.com/rust-random/rand/blob

[2019-10-26 01:47] gluaxspeed opened #114 "Indexmap Dep Not properly Compiled"
Hey when trying to compile with Bazel I get the following error for the Indexmap version-1.3.0 dependency.
![image](https://user-images.githubusercontent.com/16431709/67612478-dac12680-f770-11e9-8246-d52af147dfbb.png)

The following is the BUILD file generated for said dep.
[code]
My rust version is 1.38 and alloc should compile and if not the package build.rs should add the std lib.
Is there a wa

[2019-10-28 18:18] acmcarther commented on #114
Here's the relevant snippet of `indexmap-1.30.0`
https://github.com/bluss/indexmap/blob/c8204515dc1f5bc74c89ca440ecbaa470f30520d/src/lib.rs#L55-L57
[code]

It looks like `has_std` is populated by `build.rs` via the `autocfg` crate
https://github.com/bluss/indexmap/blob/c8204515dc1f5bc74c89ca440ecbaa470f30520d/build.rs#L4-L6
[code]

From the documentation of autocfg::emit_sysroot_crate, the functio

[2019-10-28 23:18] gluaxspeed commented on #114
Ahh great that helped a bunch thanks for clearing that up!

Just one more quick question if you could help with that it would be great.
If I am using something lisqlite3_sys with bazel and cargo raze would I need to do something similar to what you all did for openssl?

[2019-10-29 19:34] acmcarther commented on #114
Yeah, I think you'd need to do something similar.

I actually do this work once before for bringing in libsqlite3-sys for rusqlite, and it looks like I decided to totally overwrite the libsqlite3-sys dependency. I can't remember why... Here's the settings for rusqlite:
https://github.com/acmcarther/void/blob/590be5e8df498dc791e10ba0f35083e5493adcd0/third_party/cargo/Cargo.toml#L43-L49
[code]
And t

[2019-11-04 18:04] gluaxspeed commented on #114
Hey thanks for all the help and sorry for late reply. That was super helpful.

We can capture these transformation in a separate repo that just has a folder for the different cargo packages(when needed). Then just link that to the main page here, as one idea. Although I suppose that could be a nightmare with the different cargo package versions.

[2019-11-08 14:10] klochek opened #116 "Typenum 1.11.2 build failure"
As of version 1.11.2, the [Typenum](https://github.com/paholg/typenum) library no longer builds, due to the following lines in [src/lib.rs](https://github.com/paholg/typenum/commit/e23e8af8c85c5c60e3829940d2cdcb450072952e#diff-b4aea3e418ccdb71239b96952d9cddb6R65):
[code]

Those environment variables are set as part of the build.rs pre-compile; here is one such example (from [build/op.rs](https://g

[2019-11-08 23:11] acmcarther commented on #116
Thanks for filing this issue.

---

_On build script environment variables_

Yeah, cargo-raze doesn't currently support configuration options for environment variables. I have the same understanding you do -- that doing this is somewhat awkward in Bazel. Build scripts by necessity need to set some environment variables though, and some hacks already exist to set some of them.

If we're willing to

[2019-11-09 02:13] klochek commented on #116
Thanks for the quick reply.  Agreed with everything you've said; doing even the minimal thing (another hashmap) would still require an extension to the rust_library rule to accept environment vars.  I might mosey on over to rust_rules and see if this would be a plausible request.

To anybody else looking for a quick workaround, if you revert the offending lines above to what they were in 1.10 (som

[2019-11-11 21:58] jonhoo commented on #41
I think it'd be really useful to have an example in this repository for how to write a `-sys` crate that fits into an existing Bazel pipeline using `cargo raze`. Even one that has a relatively straightforward `build.rs` that just runs `bindgen` on the output of a `cc_library` would go a long way! This thread is the only real source of such examples at the moment, and they are all for relatively co

[2019-11-22 13:48] Sythanis opened #117 "Compiling h2"
I am encountering an isolated build error using cargo_raze and rules_rust when I am trying to compile `h2` crate or any crate that depends on it such as `hyper` It is failing by requesting that `IndexMap` in the `h2` crate should have 3 type argumetns.

[code]

Not sure if that is issue of cargo_raze, rules_rust or am I missing something very obvious.

h2 doesn't seem to have any build.rs file, no

[2019-11-22 13:52] Sythanis commented on #117
Yep #114  was the solution. For anyone hitting the same problem.
[code]

[2019-11-22 13:53] #117 closed

[2019-11-29 18:57] PtrTeixeira opened #119 "proc-macro aliases aren't generated"
Hey! On upgrading from 0.2.8 to 0.2.10, it looks like aliases for proc-macro crates stopped being generated. I think this was originally reported as #89 and was fixed by #90 , but #109 appears to have added the same constraint back. If you want I can open a PR to remove the check, but should [this check](https://github.com/google/cargo-raze/blob/105c64783745e97b883b6ed2d7bf85571a115e3c/impl/src/pl

[2019-12-07 17:49] nhyne commented on #41
@prestonvanloon were you able to make any more progress on ring? I'm running into the same issue you have.

[2019-12-08 02:46] prestonvanloon commented on #41
I don’t recall reaching a solution. Gave up on rust with bazel for now

[2019-12-11 13:53] arlyon commented on #64
This fix worked for me, although I needed `--cfg=use_proc_macro` on proc-macro version 1.0.6

[2019-12-12 04:27] dayfine commented on #98
Any updates on this or investigations into how to make this happen?

[2019-12-20 23:03] PtrTeixeira commented on #119
Closed in #120

[2019-12-20 23:03] #119 closed

[2019-12-21 04:08] joprice commented on #41
@mfarrugi Did you try getting openssl working with boringssl? It's especially convenient since they maintain a bazel branch.

[2019-12-21 04:10] mfarrugi commented on #41
Nope, was addressing a specific internal requirement by linking to system
openssl.

On Fri, Dec 20, 2019 at 11:08 PM Joseph Price <notifications@github.com>
wrote:

[2019-12-21 04:14] joprice commented on #41
No problem. I'll keep smashing my head against it. I'm also hitting a glorious infinite loop when trying to compile unicase with the error "calls in statics are limited to constant functions, tuple structs and tuple variants".

[2019-12-26 01:55] dayfine commented on #32
Just came here to note that this still does not work as I am attempting to build external protobuf package with bazel and raze.

I will probably try the workaround in https://github.com/rules-proto-grpc/rules_proto_grpc/commit/cb57f58b496302472fc9f55de98c05ad6ad6eba5 as a result.

[2019-12-28 19:33] #114 closed

[2019-12-28 21:34] gluaxspeed commented on #41
Has anyone gotten backtrace-0.3.4 to compile with bazel? I keep getting the below errors.
`Loading:
Loading: 0 packages loaded
Analyzing: target //rust/game:game (0 packages loaded, 0 targets configured)
INFO: Analyzed target //rust/game:game (0 packages loaded, 0 targets configured).
INFO: Found 1 target...
[0 / 7] [Prepa] BazelWorkspaceStatusAction stable-status.txt
ERROR: /home/gluax/docs/proje

[2020-01-06 19:31] oliverdunk opened #124 "Up version and publish to crates.io"
Would it be possible to get a new version on crates.io? Both of the commits on master fix bugs I'm running into, so I'd be really excited to see those fixes live.

[2020-01-06 19:55] acmcarther commented on #124
Oops, thanks for your patience.

Published https://github.com/google/cargo-raze/commit/08e41f44391f3aea050aa24566f05787fa36e3a4

[2020-01-06 19:55] #124 closed

[2020-01-23 17:04] zoidbergwill commented on #41
@gluaxspeed I got further than that, just using:

[code]

However then I got stuck on mime_guess, so I'm giving up for the time being.

[2020-01-24 01:44] a1ph opened #125 "Fails to build actix-http with "use of undeclared type or module fail_ure""
I'm getting the following error:

error[E0433]: failed to resolve: use of undeclared type or module fail_ure
--> external/raze__actix_http__1_0_1/src/error.rs:968:24
|
968 | impl ResponseError for fail_ure::Error {}
| ^^^^^^^^ use of undeclared type or module fail_ure

error: aborting due to previous error

Is there a way to work around it?

[2020-01-24 03:51] sayrer opened #126 "Update cargo instructions"
I believe Rust 0.40 changed the cargo manifest format, and `cargo-vendor` is now part of cargo itself.

I'm running Rust 0.42, so hitting these issues a bit early. I think the next release will need to have these instructions:

[code]

[2020-01-30 19:55] GregBowyer commented on #61
@qzmfranklin The big blocker here (I tried and gave up somewhat) is what to do about cargo itself.

Currently cargo-raze _defaults_ to cargos api for getting details about packages, as such to get this working means getting cargo to compile in bazel by itself thats not too hard, but it also means curl-sys (and curl) openssl-sys (and thus openssl) and some other deps.

Naturally I, you and others p

[2020-01-31 02:47] #126 closed

[2020-02-01 14:50] mapx opened #129 "workspace_path is ignored"
`Cargo.toml` contains the following section:
[code]

However, `cargo raze` generates the following files and folder under workspace root, rather than `third_party/cargo/`:
[code]

[2020-02-03 19:15] sayrer commented on #98
I think this is fixed by #128.

[2020-02-03 20:03] sayrer opened #130 "Difficulty passing config option that contains a hyphen"
The proc-macro2  crate has a config option called `span-locations`. I eventually got it to work by putting `"--cfg=span_locations"` into `additional_flags`, but I have no idea why this worked.

[2020-02-03 20:24] sayrer opened #131 "Is the raze-level "target" setting still needed?"
It seems like this should be set by Bazel itself.

[2020-02-04 18:35] lopter commented on #41
Yes, I was stuck there too and that's because `build.rs` for unicase makes some println outputs that cargo-raze doesn't capture/understand (see [116](https://github.com/google/cargo-raze/issues)/116#issuecomment-552026631)). You can get around with this in Cargo.toml:

[code]

[2020-02-04 22:43] lopter commented on #41
This pattern of emitting rustc cfg options from `build.rs` seems to be fairly common, [indexmap](https://crates.io/crates/indexmap) was also problematic through its use of [autocfg](https://crates.io/crates/autocfg) which is actually another crate to help you do exactly that from `build.rs`.

[2020-02-10 23:37] sayrer opened #132 "Build time"
In working on

https://github.com/dtolnay/cxx/pull/32

we noticed `cargo install cargo-raze` is very slow. While I think Cargo should be able to install pre-built binaries, is there some way to speed this up in the short term?

[2020-02-12 03:10] luser commented on #132
The killer is the dependency on `cargo` itself:
https://github.com/google/cargo-raze/blob/818ca547e6febf6ea973669ae341c00986425a9a/impl/Cargo.toml#L27

It looks like `cargo-raze` is actually using cargo internals so I don't see a feasible way to replace that. If it were just the metadata there's a [`cargo-meta`](https://crates.io/crates/cargo-meta) crate that provides a nice API over the `cargo me

[2020-02-12 03:22] acmcarther commented on #132
Sorry for the delay https://github.com/google/cargo-raze/issues/132#issuecomment-585001351 is exactly correct. The slowness is compiling cargo.

IIRC, the dependence on cargo's internals is already replacable with a call out to `cargo metadata`. The ["MetadataFetcher" trait](https://github.com/google/cargo-raze/blob/818ca547e6febf6ea973669ae341c00986425a9a/impl/src/metadata.rs#L45-L47) was actuall

[2020-02-12 04:00] acmcarther commented on #131
In the current implementation, Bazel doesn't actually play much of a role until after Cargo's knowledge (metadata, primarily) is already gone. This is why we need to know the target ahead of time.

[Long long ago in a distant land](https://github.com/acmcarther/cargo-raze/commit/717165e64a5ecfeed4271dd3ccf57ab12d035eb1) a tool very similar to this one simply converted the known information into a

[2020-02-16 07:03] a1ph commented on #113
reqwest 0.10.1 brought another problem:
[code]
It seems to be due to renaming:
```native-tls-crate = { version = "0.2", optional = true, package = "native-tls" }```
at https://github.com/seanmonstar/reqwest/blob/master/Cargo.toml#L94

I was able to workaround it by adding the following argument to the rust_library rule into the raze-generated BUILD file:
[code]
I wonder what is the way to add alia

[2020-02-16 19:58] a1ph opened #135 "Panic in plan_build"
I added dependency on a local crate with `foo = { path = "..." }` syntax with `gen_buildrs = true` and got a panic during `cargo raze` run:

[code]
Any ideas on what's wrong? thx

[2020-02-16 20:02] a1ph commented on #113
I ended up having to declare the dependency with:
[code]
but the original question on how to specify aliases in cargo-raze remains.

[2020-02-17 17:25] blaxill opened #136 "Failed to read Cargo.toml"
When running raze I get the error "Failed to run `cargo metadata`". Running `cargo metadata` directly works correctly and also the project compiles correctly. I am running raze against the Cargo.toml workspace for the project, the `examples/abitest/abitest_common/Cargo.toml` file referenced below is a higher up in the tree.

Although it looks like the code has been around for a while it may possib

[2020-02-17 18:18] acmcarther commented on #136
https://github.com/google/cargo-raze/pull/134 updated the implementation to use cargo metadata instead of the cargo internals.

Looks like this a bug in the cargo metadata codepath. For now, you can use `--deprecated-use-cargo-internals` to use the old codepath. I'll take a look at this again later today.

[2020-02-25 01:25] acmcarther commented on #131
https://github.com/rust-lang/cargo/issues/5583, focused on distinguishing between dev deps and normal deps, target information for each dep, and crate renaming was just closed (as fixed).

This information is probably sufficient to generate BUILD rules for all targets as well as generating rust_test rules.

[2020-02-26 10:48] KaiserKarel opened #137 "Unable to build serde"
I cannot seem to get serde to build; receiving the following error:

[code]

Here's a minimal example reproducing the issue: https://github.com/KaiserKarel/bazel-syn-issue

Running `cargo build` will work, however `bazel build //src/atta` will not. Maybe related to #89?

[2020-02-26 11:34] KaiserKarel commented on #137
Adding

[code]

To the cargo/Cargo.toml did the trick; but now I am getting:

[code]

[2020-02-26 11:49] KaiserKarel commented on #137
Turned out to be a conflicting homebrew installation.

[2020-02-26 11:49] #137 closed

[2020-02-27 14:04] KaiserKarel opened #138 "Cargo environment variables"
Is there a way to get build.rs, which use env variables such as `CARGO_CFG_TARGET_OS` to work?

[2020-02-27 14:06] KaiserKarel commented on #41
https://github.com/wasmerio/wasmer/blob/master/lib/runtime-core/build.rs will compile some included files, using a target depended compiler. Any idea how to get this working?

[2020-02-27 14:06] KaiserKarel commented on #41
[wasmer](https://github.com/wasmerio/wasmer/blob/master/lib/runtime-core/build.rs) will compile some included files, using a target depended compiler. Any idea how to get this working?

[2020-02-28 01:51] GregBowyer commented on #138
Not presently but maybe.

One option would be to make a patch if we land #121
Or it might be one of the env options we should add to rules-rust

[2020-02-28 01:53] GregBowyer commented on #129
Humm thats a confusion for you, sorry I guess.

The `workspace_path` is where the bazel targets will be pointed to, but the files are currently generated in the current working directory.

It might be worth making cargo-raze find the right directory for these files.

[2020-02-28 02:04] GregBowyer commented on #41
Which version of ring, I think I got it working a while back

My `Cargo.toml` for the brave

Some notes:
* Semver matching is hanging out on #127 so that wont work with off the shelf `cargo raze`
* Patches are in #121  so again ... wont work with off the shelf `cargo raze`

[code]

[2020-02-28 12:38] KaiserKarel commented on #138
That has landed already correct? Where can I read more on the patches functionality?

[2020-02-29 01:04] GregBowyer commented on #138
I should write up some docs, but the long and the short is its just exposing the patch parts of workspace rules like so

https://docs.bazel.build/versions/master/repo/git.html

[2020-02-29 23:11] Cytro54 commented on #41
@GregBowyer Could you please upload a Gist of the BUILD file at `@bedrock//third_party//patch`?
I'm running into some issues with `typenum` and this would greatly help!

_(btw , sorry for the bad English, I'm from overseas)_

[2020-03-02 19:20] vitalyd opened #139 "b3sum binary raze configuration is ignored"
I've vendored the [b3sum](https://crates.io/crates/b3sum) crate, and trying to expose its `b3sum` binary via `cargo raze`.  However, raze appears to ignore it:

Cargo.toml:
[code]
`cargo raze` execution does spit this out to `stdout`:
[code]
However, it also generates this warning:
[code]
We have a similar configuration for `ripgrep 0.10.0`, to generate the `rg` binary.  This used to work (at leas

[2020-03-03 17:03] KaiserKarel commented on #138
I think that should work; are these git generated patch files?  Or where can I read more on bazel's patcher?

[2020-03-04 17:22] vitalyd commented on #139
Played around with this issue a bit more today.  Decided to try the `--deprecated-use-cargo-internals` flag to see if the difference is due to using `cargo`-as-a-lib vs parsing `cargo metadata ...`.

I immediately hit a panic:
[code]
It wasn't clear where the double quote was coming from.  After some debugging, it seems the issue is in https://github.com/google/cargo-raze/blob/master/impl/src/meta

[2020-03-05 17:05] vitalyd commented on #139
@acmcarther, I'm happy to submit a PR with the `pkg_source` change mentioned in my previous comment.  That doesn't solve the main problem in this issue (i.e. things don't appear to work when using `cargo metadata ...`), but at least it opens up the workaround.

[2020-03-06 01:12] acmcarther commented on #139
Workaround sgtm, I'll need to review this in detail to understand the issue, so I guess my preference would be to get the workaround fixed, but keep this bug open for understanding why cargo-metadata doesn't generate the right thing.

[2020-03-06 02:42] vitalyd commented on #139
Ok @acmcarther, I think the PR is good to go.

[2020-03-09 17:22] Sythanis commented on #138
Have the same difficulty. Trying with a git generated
[code]

[2020-03-09 17:34] KaiserKarel commented on #138
So if I read the source correctly; the patch functionality is only applied to Remote crates. Using the following config did the trick for me:

I used the unix diff for generating the patches.
[code]

[code]

[2020-03-09 17:34] #138 closed

[2020-03-09 17:36] KaiserKarel commented on #125
This looks like you have a typo in your cargo.toml, since you are using the [failure](https://github.com/rust-lang-nursery/failure) crate I suppose?

[2020-03-09 17:44] KaiserKarel opened #141 "package key/crate aliasing"
Some dependencies of one of my dependencies use forks of other crates; which they renamed using the `package` key in their Cargo.toml

[code]
Currently this results in the following compilation error:

[code]

Does cargo raze support these aliases?

[2020-03-10 12:21] vitalyd commented on #139
@acmcarther, any chance you could merge that PR and publish a new `cargo-raze` version on crates.io? Thanks

[2020-03-11 10:22] KaiserKarel commented on #141
Seeing as this is being addresses in #123, I am closing this.

[2020-03-11 10:22] #141 closed

[2020-03-14 21:26] lopter commented on #41
Does #138 help?

[2020-03-16 04:13] sayrer commented on #132
I worked on this a bit in #142, but it's not ready to merge.

[2020-03-16 10:09] Cytro54 commented on #41
Yes it does, Thanks!

[2020-04-06 21:18] thomcc commented on #41
One of the maintainers of libsqlite3-sys here: I found this when helping someone get it working with bazel. If there's anything we could adjust or add to make this work better for y'all, let me know (or file an issue).

[2020-04-07 05:14] DmitryRusakovKodiak opened #143 "Actix-web failed with: failed to resolve: use of undeclared type or module `fail_ure`"
Hi, I'm trying to compile the following actix-web example in my Bazel project: https://github.com/actix/examples/tree/master/multipart
and I have ended up with the following error:

[code]
The same code perfectly compiles using cargo...

Any ideas how to fix it?

[2020-04-07 06:18] DmitryRusakovKodiak opened #144 "Can I have two different versions of the same Rust library in one Bazel project?"
Hi! Can I have two different versions of the same Rust library in one Bazel project?
For example, some projects within one Bazel repository can depend on `futures-0.1.x`, but some can require `futures-0.3.x`. How to handle such use case using cargo-raze?

[2020-04-14 07:41] dnrusakov commented on #144
cc @acmcarther

[2020-04-14 13:08] vitalyd commented on #139
@acmcarther thanks for committing the PR! Any chance you can put out a fresh release to crates.io?

[2020-04-16 15:57] dfreese commented on #41
@GregBowyer how did you end up patching protobuf in @bedrock//third_party/rust/patch:protobuf-2.8.1-rustc.patch?  I was looking at bypassing the build.rs, and just patching the library as so:

[code]

which is what would result from the `include!`, but wanted to see what other approaches there were.  This works for me, since I don't run nightly, so I only need the version.rs file generated by prot

[2020-04-24 16:06] smklein opened #147 "Feature request: Utilize cargo_metadata for parsing Cargo metadata"
See title: https://docs.rs/cargo_metadata/0.9.1/cargo_metadata/index.html

I think this crate could be used for parsing metadata from cargo, instead of relying on a hand-rolled implementation in impl/src/metadata.rs.

Hopefully this would make tracking upstream Cargo changes slightly easier to follow?

What do ya'll think? Would this be a welcome change?

[2020-04-24 18:52] acmcarther commented on #147
Yeah, this sounds good to me. Duplicating cargo's structs as we're doing now isn't great.

I'll look into this this upcoming weekend, or feel free to take this. I think we use an interface for metadata fetching, so it should be reasonably low effort to drop in a cargo-metadata wrapped implementation (or just drop the abstraction entirely).

[2020-04-24 18:55] acmcarther commented on #144
cargo-raze doesn't have a good story for this for now. If cargo itself has one, I think we could probably tweak raze to provide access to these types of dependencies.

Is there syntax in cargo for including multiple versions of the same dep? We currently do pull multiple versions of the same dep for dependency resolution, but up until now there wasn't a case made for providing workspace-visible al

[2020-04-24 19:02] acmcarther commented on #143
This is probably build script related.

---

I'm not seeing one in https://github.com/actix/actix-web/blob/master/actix-http/Cargo.toml though.

I'm also not seeing this @ HEAD, so checking their code @ 1.0.1

I am seeing something weird in their build script:

https://github.com/actix/actix-web/blob/2ddbe2b15c5780ac7cac23c22fd4cce506c191bb/actix-http/Cargo.toml#L89-L90

A `package` declaration fo

[2020-04-24 19:04] acmcarther commented on #147
Oh, I lied.

We actually already do this, and I think we recently flipped the default to use cargo-metadata. Here is the type:

https://github.com/google/cargo-raze/blob/7daf5ba22612b5807492aa568c2a7b71c8630d4e/impl/src/metadata.rs#L162-L165

I'm guessing your ask here is that we remove the old implementation. I'm not averse to this.

[2020-04-29 17:59] GregBowyer commented on #144
Aliases do this and I should work on getting it merged

[2020-05-11 22:24] #58 closed

[2020-05-12 02:18] acmcarther commented on #135
It's hard to say what the exact issue here is because there's not much information to go off of (not your fault!)

I can only assume that some code is being inlined between `plan_build()` and the failed expectation. From process of elimination, I suspect the issue is that one of our metadata structs is expecting a string (serde) and receiving a nullptr. It's not possible to determine which field f

[2020-05-12 02:36] acmcarther commented on #136
I tried to reproduce this and was not successful. Here's what I tried:

1. Create a directory tree with the following structure:
[code]
2. `$ cd third_party/rust-crates && cargo raze`

[code]

Here is what happens when I mess up the Cargo.toml (just to see the printed path):
[code]
---

Hmm. I'm noticing that your error indicates that the file is expected at `$TMP/examples/abitest/abitest_common/C

[2020-05-12 03:59] jez opened #154 "Question about "canonical reproducible form""
Are there any recommendations about how to deal with DEBUG messages like these?

[code]

I'm using this config:

[code]

I can get rid of them by manually inserting the the `sha256` hashes into the `crates.bzl` file manually, and afaik the only problem there is that the next time I run `cargo raze` I'll have to go back and re-add them, which is fine.

Is there some `cargo raze` invocation I'm miss

[2020-05-12 05:44] kornholi commented on #154
This will be fixed by #149.

[2020-05-12 05:49] jez commented on #154
Oh great thanks!

[2020-05-12 05:49] #154 closed

[2020-05-15 00:09] dfreese commented on #132
Can this be closed with #156?

[2020-05-15 00:13] dfreese commented on #61
@GregBowyer perhaps things are a little easier now that #156 has been merged?

[2020-05-23 19:52] mobileink opened #158 "hello example breaks with newer deps"
Upgrading the deps for the hello_cargo_library example to log = "0.4.8" and fern = "0.6.0" results in:

error[E0425]: cannot find function `set_boxed_logger` in module `log`
   --> cargo/vendor/fern-0.6.0/src/builders.rs:607:14
    |
607 |         log::set_boxed_logger(log)?;
    |              ^^^^^^^^^^^^^^^^ not found in `log`

According to the log doc, "The set_boxed_logger function is availab

[2020-05-24 08:02] ali5h commented on #17
i also think `cargo-raze` should support rust workspaces, this way a project is buildable with both cargo and bazel. It seems like raze already creates a fake workspace project to fetch the metadata.

[2020-05-24 23:52] #147 closed

[2020-05-26 00:22] mobileink opened #159 "unable to compile syn"
I'm new to Rust but not to Bazel.  I've spent most of the past two days trying to compile [syn](https://docs.rs/syn/1.0.24/syn/index.html). I've learned a lot, but I admit defeat.

MWE using `unroll`, which depends on syn:

~/tmp/unroll/WORKSPACE:
[code]

~/tmp/unroll/cargo/Cargo.toml:
[code]

Run `cargo vendor --versioned-dirs && cargo raze` from the cargo dir.  Then `cd cargo/vendor/syn-0.15.44

[2020-05-27 02:07] mobileink opened #160 "build script support does not handle cargo: stdout msgs"
It looks like the current code is designed only to handle the case of passing files.  Build scripts that emit e.g. cargo:rustc-env don't work.  An example from crates.io is typenum 1.12.0.

Any plans to address this?

[2020-05-29 22:19] kornholi commented on #159
This smells like `gen_buildrs` not working correctly with `proc-macro2` (could you check what cargo-raze generates?).

I'd try manually configuring the cfg flags:
[code]

[2020-05-29 22:39] mobileink commented on #159
On Fri, May 29, 2020 at 5:20 PM Kornelijus Survila <notifications@github.com>
wrote:

Thanks, but I'm afraid that would not work; those flags must be passed as
"--cfg foo" (no = sign), as I found by examining the output of `cargo
build`.  The only way I could get it working was by implementing a
cfg_flags attribute in rules_rust -
https://github.com/bazelbuild/rules_rust/pull/321

The other thing

[2020-05-30 01:57] kornholi commented on #159
I just tried your example and it builds fine after my suggested change:
[code]

It did fail with the same error beforehand. We don't really ever use `gen_buildrs` but I don't think it can propagate compiler options due to Bazel's architecture.

1. Perhaps you forgot to run `cargo raze` after changing `Cargo.toml`?
2. Are you running latest/recent `cargo-raze`? Your comment about the editions makes

[2020-05-30 08:42] dnrusakov commented on #144
@GregBowyer Yes, please!

[2020-05-31 22:58] Arm1stice commented on #143
Chiming in on this. The raze-generated BUILD file has the features set as
[code]
The failure feature requires the fail_ure crate which isn't included in the build dependencies that raze generates:
[code]
Also interesting to note that "fail_ure" [isn't a feature](https://github.com/actix/actix-web/blob/2ddbe2b15c5780ac7cac23c22fd4cce506c191bb/actix-http/Cargo.toml#L24-L40). It appears that raze is

[2020-05-31 23:26] Arm1stice commented on #143
Full rust_library rule:
[code]

[2020-06-01 01:09] Arm1stice commented on #143
So it looks like if we manually change the library rule to:
[code]
Then it works. I guess the question is how to change raze to add that alias automatically.

[2020-06-02 20:22] Arm1stice commented on #158
This seems to be a duplicate of #110

[2020-06-03 06:14] a1ph commented on #41
Hello. I got a compile error on `mio`. The versions of libc used by both `mio` and `iovec` seems to be the same. What is a solution for it? Thanks.

[code]

[2020-06-03 17:31] kornholi commented on #41
@a1ph You're most likely missing cfg flags for libc that unify the types:

[code]
Make sure the version matches your `libc` exactly and re-run `cargo raze`.

[2020-06-04 17:09] dfreese commented on #41
So with cargo-raze 0.3.0 and later, below now works for the ring crate.  Thanks @kornholi for adding the `additional_build_file` functionality.

Cargo.toml
[code]
builds/ring-0.16.BUILD
[code]

[2020-06-05 00:37] a1ph commented on #41
@kornholi
Thanks for your suggestion, but it does not help.

[2020-06-05 20:17] a1ph commented on #41
How do I deal with package aliases, e.g. a crate has the following in Cargo.toml:
[code]
And the error looks like:
[code]
Thanks

[2020-06-08 17:07] #143 closed

[2020-06-09 08:51] dnrusakov commented on #143
@Arm1stice Thanks a lot!

[2020-06-09 17:05] kornholi commented on #41
@a1ph aliases are now handled correctly in the 0.3.3 release from yesterday. Did you figure out your issue with `mio`?

[2020-06-10 08:02] ali5h opened #165 "building rust-cpython"
i am trying to build pyo3 and rust-cpython with bazel (https://github.com/ali5h/bazel_rust_python).

I finally got it to a state the crates can be built, but the main code cannot. Need help making this work. Currently on the sample repo posted above this happens for cpython sample:
[code]

Similarly for pyo3:
[code]

I am afraid i am missing something obvious here, bc errors are similar.

[2020-06-11 01:20] ali5h commented on #165
yes, i made it work by some `genrule`, but cannot make rust-cpython work. Any idea why this is failing?

[2020-06-11 16:31] dfreese commented on #165
Not off hand.  That looks to be a specific issue related to the usage of rust_cpython macro, which I'm not familiar with.

[2020-06-11 17:13] ali5h commented on #165
the problem I can build the code with cargo, but not with bazel.

[2020-06-11 17:58] dfreese commented on #165
Thanks for clarifying.  It looks like rust_cpython, and maybe some of its dependencies, use the build.rs file to set some cfg flags for rustc.  This isn't fully supported yet.  #166 may help, but that was after 0.3.3 and there hasn't been a release yet.

There's a broader discussion of this in #41.

[2020-06-11 18:30] ali5h commented on #165
yes, they do, I explicitly avoided running the `build.rs` bc they run bunch of local commands that depend on the env. But I want to specify those configs in bazel. For example, things like python version or where the python headers/binary are. I want through the logs generated by cargo build and added all (i am probably missing some) the flags and config to bazel builds. I managed to make pyo3 wor

[2020-06-12 03:43] a1ph commented on #41
@kornholi I tweaked `mio` dependency crates versions with `additional_deps`.

Then I stuck with `openssl`, but finally made it work today, although it required changes to `rules_rust` and `cargo-raze`

[2020-06-12 19:54] Arm1stice commented on #125
This issues is the same as #143 and should be fixed by #162

[2020-06-12 22:30] #125 closed

[2020-06-13 06:37] filmil opened #171 "Examples do not compile at d0ed12d96c595de11ccb1c4ac6c5b1627a9504d3"
Not sure if this is intended, but I suppose it's desirable to have the head revision compile...

[code]

[2020-06-13 06:41] filmil opened #172 "Examples do not compile at tag `v0.3.3`"
[code]

[2020-06-20 06:28] ali5h commented on #165
updating one of the dependencies (`paste` to 0.1.17) fixed the issue, thanks for your help

[2020-06-20 06:28] #165 closed

[2020-06-26 16:19] damienmg commented on #160
@mobileink Recently the build script handling have been updated and this should now works.

[2020-06-26 16:31] damienmg opened #177 "cargo raze inside wasm_bindgen/raze of bazelbuild/rules_rust with 0.3.4 has wrong output"
It is not extracting build file for wasm-bindgen-cli in addition to missing a lot of SHA-256.

I have yet to pinpoint the issue...

[2020-06-26 16:44] damienmg commented on #177
I get the same issue with 0.3.3, I am unable to install version 0.3.0 and lower due to problem with openssl dependencies on OSX.

[2020-06-26 16:44] damienmg commented on #177
Oh I have a hunch, I need to test on linux

[2020-06-26 16:50] damienmg commented on #177
Ok on linux that works, except that we are still losing a lot of SHA. I'll keep the bug open for that last issue but that's no longer blocking me.

[2020-06-26 16:53] dfreese commented on #177
Is that still with 0.3.4 on linux?

[2020-06-26 17:47] damienmg commented on #177
Yes the sha256 issue is with Linux and 0.3.4. I am guessing this is due to
the move to cargo raze

On Fri, Jun 26, 2020, 6:53 PM David Freese <notifications@github.com> wrote:

[2020-06-29 01:23] dayfine opened #179 "buildrs_additional_environment_variables is no longer respected after #166"
After #166, `buildrs_additional_environment_variables` is no longer respected. An example breakage is that `rust-protobuf` can no longer be built, as its [`build.rs`](https://github.com/stepancheg/rust-protobuf/blob/master/protobuf/build.rs) expected `RUSTC` and `CARGO_PKG_VERSION`. I temporarily unblocked myself by downgrading from 0.3.5 to 0.3.3, but I think the `buildrs_additional_environment_v

[2020-06-29 11:28] damienmg commented on #177
With 0.3.5, https://github.com/damienmg/rules_rust/commit/241a171f87c51bac0e293c2372c30537545b3b7b#diff-e7558b0277a3d8251c3a4f14b46a946c is losing almost all the crates :/ This is not what I expected. I am working around the issue at the moment.

[2020-06-29 13:02] damienmg commented on #179
#166 should pass along `RUSTC` and `CARGO_PKG_VERSION`, can we have a repro?

Also I ran in a couple of different problems with latest version of cargo raze that could be related, cf: https://github.com/google/cargo-raze/issues/177

[2020-06-29 16:21] dayfine commented on #179
It passes `RUSTC` along (by means other than `buildrs_additional_environment_variables`), but not `CARGO_PKG_VERSION`.

I am building rust-protobuf in this repo by relying on `buildrs_additional_environment_variables` and some other magic: https://github.com/dayfine/xlab/blob/master/third_party/cargo/Cargo.toml. IIRC:
- If I use `0.3.4` and above, it will first complain the `rustc` magic I put in

[2020-06-30 08:46] damienmg commented on #179
Indeed the CARGO_PKG_VERSION is not added, let me try to send a PR to fix that on rules_rust.

[2020-07-01 01:29] a1ph commented on #41
With the latest changes to **rules_rust** and **cargo-raze** I was able to remove all the tweaks and build with just `default_gen_buildrs = true`.  🎉

[2020-07-01 03:48] dayfine commented on #179
Thanks, and it will also need to be passed in the template: https://github.com/google/cargo-raze/blob/master/impl/src/templates/partials/build_script.template?

[2020-07-01 08:31] damienmg commented on #172
The examples is generated from smoke-test, this is less than ideal but that's explains why they don't work out of the box.

[2020-07-01 08:32] damienmg commented on #179
Yes :) #180 was already on my computer yesterday but now it is sent for review :)

[2020-07-01 16:34] #179 closed

[2020-07-05 23:17] dayfine commented on #179
Hi Damien, could a new release be cut so I can install the new version and verify this change? Thanks!

[2020-07-06 00:01] acmcarther commented on #179
Published [0.3.7](https://crates.io/crates/cargo-raze/0.3.7) containing this fix.

[2020-07-06 20:41] camertron opened #181 "Raze not detecting proc-macro deps?"
Hey everyone,

Bear with me here, I'm very new to both Rust and Bazel.

I'm running into a strange issue where raze seems to generate an invalid BUILD file and causes this error when I attempt to run `bazel build //rust/diff`:

[code]

Indeed, the relevant part of the BUILD file in question shows this:

[code]

If I move `@raze__serde_derive__1_0_114//:serde_derive` into the `proc_macro_deps` sect

[2020-07-06 23:32] dfreese commented on #181
What version of cargo-raze are you using?  Which commit of rules_rust?

[2020-07-07 20:03] camertron commented on #181
@dfreese ah sorry, here we go:

cargo-raze: v0.3.6
rules_rust: f41a008d3e36e70b9deba9e4ed6cd914e8f36a49 (master as of yesterday)

[2020-07-07 21:16] dfreese commented on #181
Ahh, yeah, that's a bug.  Looks like I missed that in the combination of #164 and #166.  I'll take a look at that soon.

@illicitonion, just a heads up.

[2020-07-08 00:04] dfreese commented on #181
#182 should handle this, but I haven't had a chance to add some unit tests to that yet.

[2020-07-08 16:25] UebelAndre commented on #14
Hello, just a friendly ping. Any updates here? Also, are there examples of how `cargo-raze` works with multi-platform projects? Perhaps a workaround could be added to this issue? If not, this feature would be very helpful!

[2020-07-08 16:29] #181 closed

[2020-07-08 16:38] UebelAndre opened #183 "Error: No such file or directory (os error 2)"
I'm unable to get `cargo-raze` to work at all. I keep running into an error when following both the vendored and remote instructions.
[code]
I'm running on MacOS, below is a small repro case I've put together.
[repro.zip](https://github.com/google/cargo-raze/files/4892002/repro.zip)

[2020-07-09 06:02] UebelAndre commented on #183
This was my own misunderstanding of the [documentation](https://github.com/google/cargo-raze#generate-a-cargotoml). It's unclear that `Cargo.toml` needs to be generated in the subfolder specified by the `workspace_path` setting. This comes off much clearer in [the non-cratesio example](https://github.com/google/cargo-raze/tree/master/examples/remote/non_cratesio).

[2020-07-09 06:02] #183 closed

[2020-07-09 16:56] camertron commented on #181
Awesome, thanks @dfreese :) Any chance you could publish a new crate as well?

[2020-07-10 16:47] dfreese commented on #181
@camertron, yep, #182 is in v0.3.8

[2020-07-11 17:51] UebelAndre commented on #131
So is it still needed?

[2020-07-19 09:19] aignas opened #186 "Support generating rust-analyzer `rust-project.json`"
Rust-analyzer supports non-cargo based projects.

It would be interesting to do the generation of the `rust-project.json` at the root of the repository, such that `rust-analyzer` could refer to dependencies managed by `cargo-raze`.

I'm not sure if this is a feature request to rules_rust and/or cargo-raze. In my view they are somewhat related, but I am not sure about the current state of the proje

[2020-07-20 14:46] #136 closed

[2020-07-21 00:02] GregBowyer commented on #186
Humm interesting, this might be better on rules_rust as a target or aspect

[2020-07-21 00:03] GregBowyer commented on #144
#187 should do this for you

[2020-07-21 09:35] dnrusakov commented on #144
@GregBowyer Thanks a lot! Hopefully your PR will be merged soon!

[2020-07-21 14:51] UebelAndre commented on #43
Hi, I'm interested in seeing this get done. Would it be possible to teach `cargo-raze` about the platform specific dependency tags in [Cargo.toml](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#platform-specific-dependencies)?

Particularly:
[code]

Here, 3 platforms would be targeted with the following dependencies
[code]

`[host]` would either be the detected auto-detecte

[2020-07-23 03:35] UebelAndre opened #188 "DEBUG: A canonical reproducible form can be obtained by modifying arguments sha256 = ..."
Would it be possible for `cargo raze` to be able to generate the `_new_http_archive` targets and populate the `sha` argument? Is that something in the metadata for the crates?

The snippet below is some output I get when running `bazel build //...` after running `cargo raze` on my project.
[code]

[2020-07-23 20:13] yesudeep opened #189 "Create BUILD.bazel files instead of BUILD files for packages (possibly make it optional)"
Running cargo-raze currently generates `BUILD` files in the cargo and remote directories.
However, because the name `BUILD` can conflict with a directory named 'build' on case-insensitive
file systems, it's a much better idea to use the .bazel extension instead.

Related issue:
`cargo-raze` generates `BUILD` files in directories that already have a `BUILD.bazel` file as well.

Could you please mak

[2020-07-25 08:27] TheButlah commented on #131
I'm also confused - do I need a separate Cargo.toml for each platform I want to target?

[2020-07-25 23:18] UebelAndre commented on #131
I don't think `cargo-raze` officially supports multi-platform configurations. You might wanna check out #43

[2020-07-26 04:13] dfreese commented on #188
Which version of cargo raze was used?

I forget exactly which version this was updated in, but I do see the sha's filled out in 0.3.7 with the project I am working on.

[2020-07-26 17:26] UebelAndre commented on #188
I actually see the same. And I'm using 0.37 as well. I'll dig deeper when I get a chance

[2020-07-27 08:01] damienmg commented on #43
I think that makes sense I am somehow worry about the explosion of configuration but if it only keeps platform that should be manageable.

[2020-07-27 16:06] UebelAndre commented on #43
@damienmg can you elaborate a bit more on what you're concerned about with the explosion of configuration?

[2020-07-28 13:39] damienmg commented on #43
If there is a lot of configuration this create a very complex graph that can be long to generate and to analyze by bazel. I doubt this will be the case here as there should not be 700 platforms to handles :)

[2020-07-30 14:06] mstg commented on #189
Hello!
This is already supported (#93)

Add `output_buildfile_suffix = "BUILD.bazel"` under `[raze]` in `Cargo.toml`

[2020-08-01 07:58] yesudeep commented on #189
Thank you. That works!

This bug still exists however:

"cargo-raze generates BUILD files in directories that already have a BUILD.bazel file."

[2020-08-01 21:15] UebelAndre commented on #188
@dfreese Hey! Sorry it took me so long to get back to this. If you run `smoke-test.sh` on f77ba882ea4a7bd60b8a2761ec23b88bf6753c5f (which is `0.3.8`) then you'll see this issue in some of the Bazel builds.

I've attached a log for convenience.
[smoke-test.log](https://github.com/google/cargo-raze/files/5011270/smoke-test.log)

[2020-08-01 21:17] UebelAndre opened #190 "Request: Update the examples directory"
Every time `smoke-test.sh` is run, it creates huge amount of diffs in `./examples/*` would it be possible to have these examples regenerated?

[2020-08-04 03:52] samschlegel commented on #111
This has regressed with https://github.com/google/cargo-raze/pull/150

[2020-08-04 21:00] PiotrSikora opened #192 "Generated BUILD files are not properly formatted."
Generated `BUILD` files are not properly formatted per [buildifier](https://github.com/bazelbuild/buildtools/tree/master/buildifier).

[code]
[code]
[code]
[code]

[2020-08-05 03:12] samschlegel commented on #190
It's unclear to me why this directory exists. Is it so that people can see what the generated structure looks like without having to run it themselves? I think that makes sense to have.

It might make sense to have one of the tests in TravisCI be that no changes were made in `examples` when running `smoke-test.sh`. `examples/WORKSPACE` was updated manually and not in the smoke-test, so CI might no

[2020-08-05 14:29] d-asnaghi commented on #160
I recently encountered the same problem, where `typenum 1.12.0` just hangs forever while building with Bazel.

[2020-08-05 16:49] UebelAndre commented on #190
Isn't `./examples` the directory is? A place where people can see what the generated structure looks like?

I do feel like the state of `./smoke-test` and `./example` isn't that great right now and I feel like something could be done in in TravisCI to clean them up.

What changes? The changes in #191 ?

The entire reason I requested this update was so that when I run smoketest I don't have a huge

[2020-08-06 05:19] d-asnaghi commented on #41
The latest changes are amazing and solved most of the issues in my project. However, for some reason the default build script generated by cargo raze for [libusb1-sys 0.3.7](https://github.com/a1ien/libusb1-sys) hangs forever while building. (context, I am trying to build a project that depends on [rusb 0.6](https://github.com/a1ien/rusb)

I tried adding the system `libusb` as a dependency using `

[2020-08-07 19:49] UebelAndre opened #194 "Support Request: Building wasm-pack"
I'm running into the following build error when I try to build [wasm-pack](https://github.com/rustwasm/wasm-pack) via the output from `cargo-raze`. I have a couple of questions:
1. Is this the correct place to ask something like this?
2. Does anyone know why I'm getting this error
3. Does anyone know a workaround?

Thanks in advance!

## Build Output
[code]
[code]

## Repro Example
[build-wasm-pac

[2020-08-07 21:56] alexeagle opened #195 "Be a subprocess under Gazelle?"
In rules_nodejs and rules_python we are thinking about BUILD file generation, and would like to use Gazelle to drive it. However we don't want to write all our stuff in Go. This isn't just out of vanity; we need to use libraries like the TypeScript compiler so we need to write plugins that run in nodejs.

After discussion with @achew22 we are thinking of contributing a layer to gazelle where it wo

[2020-08-09 07:54] UebelAndre commented on #159
Why is this necessary? It seems like there are a few issues about being unable to compile without needing to add some flags to specific dependencies. Is there an issue outlining why that is?

Maybe @acmcarther might know?

[2020-08-10 08:46] damienmg commented on #160
@d-asnaghi: with which version of rules_rust and cargo-raze?

[2020-08-10 17:43] d-asnaghi commented on #160
Below you can find WORKSPACE and cargo raze info. Thanks @damienmg damienmg
<details>

WORKSPACE
[code]

Cargo raze
[code]

<details/>

[2020-08-11 12:43] damienmg commented on #160
Humm this is all very recent and should deal with that no issue, Can you share the cargo.toml (or even the files generated by cargo raze)? It is likely that the problem is the build.rs file stalling but I would need a repro to debug it.

(also sorry for the delay, I am currently really busy with my main task at Google so my 20% have to be less than 20%).

[2020-08-11 13:42] d-asnaghi commented on #160
Here's the cargo `Cargo.toml`, thanks a lot for looking into this. (A very similar problem to https://github.com/google/cargo-raze/issues/41#issuecomment-669702720)

[code]

[2020-08-11 22:27] andydau212 opened #196 "Request: Mark files generated by raze with a @generated signature"
We want to be able to skip formatting checks for generated files as well as preventing people from being able to edit these files directly.

Anyone opposed to adding a feature to add a predetermined signature (like @generated) to the BUILD files created by cargo raze?

[2020-08-11 22:39] dfreese commented on #196
I'd be supportive of that sort of change.

While, it would be nice to have the auto-generated files match buildifier conventions, that's a bigger change given the use of templates currently.

[2020-08-12 16:55] andydau212 commented on #196
Sounds good. I can tackle this once I got some free time. Would there be any reasons people might not want this? I can add it as optional feature flag in raze config if so. I can't think of any reason why this would be an issue tho so maybe just adding it straight to the template is fine?

[2020-08-14 19:52] dfreese commented on #196
Closed by #197.

[2020-08-14 19:52] #196 closed

[2020-08-17 05:47] samschlegel opened #198 "Add CI check to ensure `/examples` directory is kept up to date."
When running the smoke test locally, I find it frequently has output changes to this directory. It also seems that the `WORKSPACE` file has been edited manually several times, so it doesn't match up with what the smoke test is actually testing against which seems risky. For example the current sha for rules_rust seems to be wrong for me, so the example doesn't build.

This should be a pretty easy

[2020-08-17 05:47] samschlegel commented on #190
Oh man I wrote up a whole response to this but it poofed 😞 Also my first response was late at night and in hindsight it reads a little loopy lol

Yeah it is. I think the point I was trying to make was that it isn't always kept up to date, so it doesn't feel like it does that job very well

Ah no, I meant the changes that had been made to `examples/WORKSPACE` in https://github.com/google/cargo-raze

[2020-08-17 18:23] UebelAndre commented on #190
Oh no, that sucks!

Haha no worries, thanks for your reply! 😄

This sounds great to me. Though, that said, do you think #191 is still worth attempting to apply? Or do you think it'd be better to instead work on #198?

[2020-08-18 00:02] samschlegel commented on #190
#191 is going to be a requirement for merging #199 since without it, the test fails 😄

[2020-08-18 00:57] UebelAndre commented on #190
@samschlegel Ok, I updated the PR based on your feedback. Two notable changes added as well are that I renamed `WORKSPACE` to `WORKSPACE.bazel` and I added a `.bazelversion` file.

[2020-08-18 01:51] UebelAndre commented on #172
I've been working on #191 and noticed they do not compile when building with `bazel build //...`

`smoke-test.sh` builds using specific paths and the entire `./examples/`, see [smoke-test.sh](https://github.com/google/cargo-raze/blob/master/smoke-test.sh#L83-L93)
[code]

Maybe it would be easier to treat each example as it's own workspace instead of having a workspace contain all examples. But eit

[2020-08-19 06:26] rickwebiii opened #201 "Feature: Manage build graph changes when building on different platforms."
The build graph emitted in BUILD files in vendorized (and probably non-vendorized) crates is specific to the single target listed in Raze. However, the crate dependencies for many crates can change between host environments. For example, `simple-logger` depends on winapi, but only when compiling for Windows (https://github.com/borntyping/rust-simple_logger/blob/master/Cargo.toml), and running raze

[2020-08-23 21:00] UebelAndre opened #203 "Expected behavior for path dependencies"
Right now this seems unsupported but I'm wondering what the expected behavior would be for [path dependencies](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-path-dependencies) when running `cargo-raze`.  Currently the tool fails with
[code]

Any input/feedback would be greatly appreciated 😄

## Example
Below is a small example case of what I used to produce the

[2020-08-24 15:42] UebelAndre commented on #189
Hey @yesudeep,

I opened #205 to update the default buildfile suffix.

Additionally, If you build using `incompatible_relative_workspace_path = True` and run `cargo-raze` within a Bazel workspace, raze will treat `workspace_path` as a Bazel label and put the generated files in the specified directory. This should avoid any conflicts you might have seen before.

[2020-08-26 13:37] UebelAndre commented on #190
#191 has been merged thus satisfying this request.

[2020-08-26 13:37] #190 closed

[2020-08-26 14:34] damienmg commented on #160
Hi sorry for the delay.

I cannot make this cargo.toml works:

[code]

Got that on both Linux & macOS.

[2020-08-26 15:43] UebelAndre commented on #177
Is this related to #188 ?

[2020-08-26 15:50] UebelAndre commented on #192
Is #197 an acceptable solution to this issue?

[2020-08-26 16:06] UebelAndre opened #206 "Maintenance Request: Add label to issues of build errors when compiling crates"
To better track and understand issues around various build errors in dependencies generated by cargo raze, could a label be added to related issues to better group and identify them? I think this would make it easier for users to find similar issues that might already have a workaround.

In the mean time, I did a quick pass over existing issues and came up with the following list:
- #41
- #64
- #1

[2020-08-26 18:12] damienmg commented on #177
Yes this is the same issue.

[2020-08-26 21:00] PiotrSikora commented on #196
Files generated by `cargo raze` already contain `DO NOT EDIT! Replaced on runs of cargo-raze` in the header. What's the point of adding another marker 2 lines above? `@generated` doesn't seem to be any standard, and if anything, `DO NOT EDIT!` seems to be a more popular marker, including in files generated with `go generate`.

[2020-08-26 21:10] PiotrSikora commented on #192
`buildifier` doesn't recognize `@generated`, so #197 doesn't fix anything by itself.

Skipping auto-generated files in `buildifier` is one option (and there was a marker already, see: https://github.com/google/cargo-raze/issues/196#issuecomment-681121303), but I don't see a reason why `cargo raze` shouldn't be generating properly formatted `BUILD` files.

[2020-08-27 07:02] #198 closed

[2020-08-27 22:01] parisholley opened #208 "Cargo raze fails if build folder exists on macos"
`Error: Is a directory (os error 21)`

I have a few dependencies (zmq, openssl, etc) that have a "build" folder when vendored, even though I am using them against already installed system libraries. the cargo raze command should remove these folders (with warnings?) automatically or perhaps use a different output, eg: BUILD.bazel

right now, i am setting `output_buildfile_suffix = "BUILD.bazel" to

[2020-08-27 22:09] TheButlah commented on #203
In my case, I'm hoping that cargo raze with path dependency support would enable a workflow where developers in an existing multi-lang bazel project can develop using cargo and the associated cli-niceities that it provides, and then build those files with bazel via cargo-raze to talk to the rest of the monorepo.

[2020-08-27 22:22] UebelAndre commented on #203
@TheButlah Can you explain your setup a bit more? Maybe a `tree` dump of some top level directories and the `BUILD.bazel`/`Cargo.toml` files you have?

[2020-08-27 22:56] TheButlah commented on #203
Sure. We have a bazel monorepo that for the most part is all one main workspace (although there are a few projects that are in their own workspaces). The codebase is predominantly C++ and python. Suppose I want to have my project called "tensor_cache" here:
[code]
Naively, I had hoped that I would be able to have `tensor_cache/cargo` have the same layout as a regular cargo project, with `src/lib.r

[2020-08-27 23:22] UebelAndre commented on #208
Yeah, while I haven't run into your particular situation, I've seen this come up in many others. I opened #205 to hopefully avoid most of these issues. I just need to clean up that branch but am waiting for #207 to go through first.

[2020-08-28 01:26] parisholley commented on #41
couple notes for people who have some of the issues I had:

- don't use create vendoring, lots of headaches that just aren't supported well if your dependencies require building c' libs
- if you use `default_gen_buildrs = true` and run into some builds that seemingly fail to compile C code due to arch related issues, try adding `gen_buildrs = false` to the override, like i had to do for ring based

[2020-08-28 15:15] UebelAndre commented on #192
@PiotrSikora does #207 solve for this issue? 😸

[2020-08-28 16:22] UebelAndre commented on #61
This seems possible but I don't think would be a good idea to tackle right now. I feel like there's some "chicken and egg" issues building with Bazel would introduce. However, that said, `smoke-test.sh` could easily be a `run` target that generates the examples and that directory would get added to [`.bazelignore`](https://docs.bazel.build/versions/master/guide.html#bazelignore) and the rest of th

[2020-08-28 18:19] UebelAndre commented on #208
@parisholley Does #205 satisfy your issue?

[2020-08-28 18:20] UebelAndre commented on #189
@yesudeep does #205 satisfy this issue?

[2020-09-01 20:49] TheButlah commented on #138
FWIW using the `force_unix_path_separator` feature for typenum makes this unecessary now

[2020-09-02 01:35] UebelAndre commented on #189
If it does, could you close the ticket?

[2020-09-02 01:35] UebelAndre commented on #208
@parisholley If it does, could you close the issue? 🙏

[2020-09-02 04:10] yesudeep commented on #189
Hey @UebelAndre thank you! :-)

[2020-09-02 04:10] #189 closed

[2020-09-02 13:35] parisholley commented on #208
yep

[2020-09-02 13:35] #208 closed

[2020-09-02 20:19] UebelAndre opened #210 "dump-metadata is broken"
When running `dump-metadata.sh` (or just directly compiling the binary) the following error occurs.
[code]

What is the status of this tool and should it be fixed/added to CI?

[2020-09-08 14:45] UebelAndre commented on #206
@damienmg Not sure if this is the best place to mention this but in regards to [rust-lang/cargo#7614](https://github.com/rust-lang/cargo/issues/7614). What is currently missing from manifest that would solve for this issue? I thought `--build-plan` gave a more accurate set of features being used in what dependencies and with that information, we could solve for users running into the issues mentio

[2020-09-09 06:41] UebelAndre commented on #195
Hey, maybe there have been other conversations about this but from an outsider's perspective, this seems like something the code owners of [rules_rust](https://github.com/bazelbuild/rules_rust) would also be interested in. Might be worth pinging them here too if no other conversations have taken place already 😅

[2020-09-09 16:44] UebelAndre commented on #210
@dfreese would you know the answer to this?

[2020-09-11 02:03] epigramengineer commented on #41
An interesting example I've found [amethyst](https://crates.io/crates/amethyst) which has a lot of sys dependencies. I thought it would be clever to pull them in [rules_nixpkgs](https://github.com/tweag/rules_nixpkgs):

[code]

However actually configuring them as dependencies on each of the sys crates has proven difficult. Are there any recommendations on how debugging / identifying configuration

[2020-09-11 02:33] mfarrugi commented on #41
Do you have `nix-shell --command 'cargo build'` working for amethyst? If
that works, you can run cargo build -v to print out the flags.

On Thu, Sep 10, 2020 at 10:03 PM epigramengineer <notifications@github.com>
wrote:

[2020-09-12 22:31] SirWindfield commented on #129
I came across this as well right now. I have two crates inside of my project that I both want to have their dependencies (remote) be inside of `//third-party/cargo`. I thought an easy fix would be to copy the files over to the labeled folder but both `crates.bzl` files actually contain different http archive declarations.

Is there a goto on how to work with multiple crates? The examples only show

[2020-09-13 04:22] lgo opened #215 "cargo raze fails with "Error: invalid type: map, expected a string for key `raze`""
While setting up a new project to use cargo raze, I had accidentally made the `raze` entry in my `Cargo.toml` use double brackets, like so:
[code]

This causes `cargo raze` to simply fail with the message

[code]

This was certainly not a very helpful error and took a while to eventually realize it was the `Cargo.toml` that was incorrect.

[2020-09-13 05:28] UebelAndre commented on #129
@SirWindfield hey! Can you send me a rough tree dump of your project so I can get an idea of how your BUILD and Cargo.toml files are structured?

Also, do you happen to have a workspace setup in your Cargo.toml files?

[2020-09-13 12:38] SirWindfield commented on #129
@UebelAndre here is the repository: https://github.com/SirWindfield/dusage The Rust code is under the native directory. It is indeed a workspace. I've left it there so tooling like `rust-analyzer` keeps working.

Basically I executed this command `cargo generate-lockfile; cargo raze` in both directories (`fs-index` and `fs-walker`). The index worked fine, but `cargo raze` failed in `fs-walker` due

[2020-09-13 15:12] UebelAndre commented on #129
@SirWindfield Ah, I see. Yeah, `cargo raze` doesn't work with [cargo workspaces](https://doc.rust-lang.org/book/ch14-03-cargo-workspaces.html). There's an draft pull request #193 where work was started to add support for them.

If you run `cargo generate-lockfile` anywhere in a cargo workspace, it'll generate one `Cargo.lock` at the root of that workspace. Because of this, `cargo raze` will not se

[2020-09-13 15:17] SirWindfield commented on #129
Thanks for taking your time to help me out! I got one question left though. It seems that the files are always generated inside the crate's directory. I always thought that specifying `workspace-path` would put all build files inside that directory.

Is my assumption just wrong and the tool works as expected?

[2020-09-13 15:32] UebelAndre commented on #129
@SirWindfield What version of `cargo raze` are you using?

[2020-09-13 15:33] SirWindfield commented on #129
I installed it today from crates in, so the newest that is released over there.

[2020-09-13 15:48] UebelAndre commented on #129
You asked a very good question lol

I'm trying to understand what `workspace_path` is doing and it seems like two different behaviors for `remote` and `vendored` mode? I think `workspace_path` is the flag that indicates where the `Cargo.toml` file is relative to the `WORKSPACE.build` file but is not authoritative on where the output goes. I'll read through this more thoroughly and see if I can may

[2020-09-13 16:29] SirWindfield commented on #129
There was my idea too. But since two crates both produce a `crates.bzl` file that contains the http archive downloads then the second call to raze would actually overwrite the files from the first one.

I do remember that it worked around 1 year ago but I sadly can't remember if it was only with a single crate or with multiple inside of a bazel workspace

[2020-09-13 16:43] UebelAndre commented on #129
You should be able to set `gen_workspace_prefix` to something unique in each Cargo.toml file to make sure the dependencies are loaded separately. If I understand the issue correctly.

[2020-09-14 17:05] TotempaaltJ commented on #138
This is what I used to fix it specifically:

[code]

[2020-09-15 00:36] UebelAndre commented on #210
@damienmg do you know anything about this?

[2020-09-15 02:46] UebelAndre opened #216 "New Release"
What's the process for doing releases for `cargo raze`? I think there's been a bunch of nice changes that have gotten in and would like to be able to use them without cloning and building the project locally. I think it'd be awesome if a release could be made following the merge of #212

[2020-09-15 06:03] acmcarther commented on #216
Yo, undead maintainer here again.

This project never automated releases and I got real real lazy. I've helped bring some other folks up to speed on the release procedure, but the release process is pretty garbage, and so I understand why they've not be super proactive about it.

I was really going to write a script to do this last time I explained it, but I couldn't come up with a quick hack to u

[2020-09-15 06:19] UebelAndre commented on #216
@acmcarther Thank you!!! Yeah, there's a lot here. #212 is also a big one... I wonder what the release number should be for that one.

Regardless, #217 seems awesome and makes me happy as a fan of this project 😄 Thanks for being undead!

[2020-09-15 06:29] UebelAndre opened #218 "Cargo Raze ignores binary dependencies"
I was doing some tests trying to refresh things in `rules_rust` and came across an issue with generating targets for [`@io_bazel_rules_rust//wasm_bindgen/raze/...`](https://github.com/bazelbuild/rules_rust/tree/master/wasm_bindgen/raze).

There appears to have been a regression introduced in 816ea69b07181337ffe0e035b8e2c6a78bf631f2 (merged by #134) where a lot of the targets are no longer being ge

[2020-09-15 06:38] UebelAndre commented on #218
@acmcarther While you're around, maybe you could dump some context on this issue and the change associated with it?

[2020-09-15 06:44] UebelAndre commented on #218
@damienmg you might want to check this out as well.

[2020-09-15 10:42] sudoforge commented on #192
This should now be closed; `cargo-raze-0.5.0` (which includes #207) formats the generated BUILD files properly (in the same format as Buildifier).

[2020-09-15 11:46] PiotrSikora commented on #192
Sorry, @UebelAndre, I somehow missed your comment before.

@sudoforge I strongly disagree. The generated `BUILD` files are now **ignored** by `buildifier`, but they are still incorrectly formatted. Notably:
1) `<foo>.BUILD.bazel` suffix is not recognized by `buildifier`, so all those files are skipped by `buildifier`. The proper name for those files is either `<foo>.BUILD` or `BUILD.<foo>.bazel`.

[2020-09-15 14:45] UebelAndre commented on #192
@PiotrSikora hey, yeah, you're right it's still not formatted correctly but I don't think it's realistically possible with how `cargo-raze` is doing it's templating. In an ideal world, raze might use buildifier directly to format the files. Maybe this could be a lazy check for the binary on the system and that would be sufficient to then run it? I'll have to look into that. Either way. My goal was

[2020-09-15 16:42] UebelAndre opened #220 "Updated `genmode` default to "Remote""
I think the common case for `cargo raze` is to use `Remote` generation. Maybe we could update the default? When I was first learning to use the tool, the extra steps for vendoring were a bit confusing. Maybe the documentation just needs to be updated but again, I think remote `genmode` is more common.

Would love some input here and if there aren't any objections, I'll open a pull request at some

[2020-09-15 19:50] UebelAndre commented on #192
@PiotrSikora Also, can you link to some documentation on this? I would have loved to know that for #209 :smile:

[2020-09-16 01:20] sudoforge commented on #192
Actually, my earlier comment is _not_ invalid, it was simply missing the appropriate context.

In vendoring mode, this doesn't happen:

[code]

[2020-09-16 02:26] sudoforge commented on #192
Actually, my earlier comment is _not_ invalid, it was simply missing the appropriate context.

In vendoring mode, this doesn't happen:

[code]

[2020-09-16 09:23] PiotrSikora commented on #192
@UebelAndre I don't know if this is documented anywhere, but you can see it in [`buildifier`'s source code](
https://github.com/bazelbuild/buildtools/blob/f9b4c899957d552814b23abea2900a8fb4744c1d/buildifier/utils/utils.go#L40).

You can also check it yourself by using incorrectly formatted file and checking whether it's processed by `buildifier` or not.

@sudoforge vendored mode annotates each tar

[2020-09-16 15:21] UebelAndre commented on #218
I started a thread on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/246057-t-cargo/topic/Differences.20between.20tree.20and.20metadata.20commands) and I think the issue has been identified. It seems `cargo metadata` filters out binary dependencies. This means that adding `wasm-bindgen-cli` as a dependency to your project will do nothing. I don't think this should be the case but maybe @da

[2020-09-16 15:57] sudoforge commented on #192
Oh geez, why? :facepalm:

Sorry for the drive-by commentary, this was clearly more nuanced than I thought.

[2020-09-16 16:57] UebelAndre commented on #218
I'm wondering now if there should be a new `raze` section for binary dependencies based on the [zulip](https://rust-lang.zulipchat.com/#narrow/stream/246057-t-cargo/topic/Differences.20between.20tree.20and.20metadata.20commands) conversation.

[2020-09-16 19:30] UebelAndre commented on #131
Does #212 solve for this issue?

[2020-09-16 19:30] UebelAndre commented on #43
Does #212 solve for this issue?

[2020-09-16 21:05] UebelAndre commented on #216
I think once #217 is merged this issue can be closed

[2020-09-16 21:20] UebelAndre commented on #218
This appears to be an issue in `cargo` itself: [rust-lang/cargo#8708](https://github.com/rust-lang/cargo/issues/8708)

[2020-09-17 02:42] UebelAndre commented on #218
I think until binary dependencies are officially supported by `cargo` that maybe there should be a dedicated `raze` field to handle them.

[2020-09-17 11:34] damienmg commented on #210
No idea :/ @acmcarther is the original creator of this create and might knows.

[2020-09-17 17:38] acmcarther commented on #210
This was added in https://github.com/google/cargo-raze/pull/84 and  https://github.com/google/cargo-raze/pull/86 to help understand why ripgrep wasn't buildable in https://github.com/google/cargo-raze/issues/83

It's probably not complex to update the tool, but I'm probably the only one that cares enough to fix it. I'll set aside some time to do that.

[2020-09-17 17:47] UebelAndre commented on #218
@acmcarther I could really use your input here. Is this already a known and solved issue?

[2020-09-17 19:13] acmcarther commented on #216
Closing, per https://github.com/google/cargo-raze/issues/216#issuecomment-693665029

[2020-09-17 19:13] #216 closed

[2020-09-17 20:36] acmcarther commented on #218
I don't want to set an expectation that I always appear when asked (I am _really_ flaky), but I'll try to answer questions that  I have the context for.

--

Bummer about this situation. Aight so the backstory:

Originally, the implementation of this crate linked cargo as a dependency directly and used its internals to resolve the complete set of dependencies. With that, we could identify the BUIL

[2020-09-18 14:49] UebelAndre commented on #218
@acmcarther Hey! Thanks so much for your reply! I hope I'm not over stepping by pinging everyone. I asked for you in particular because I had a feeling you would have context on this 😃.

I have an idea for explicitly handling binary dependencies which I'm hoping to show in a PR soon. Maybe I'll be able to finish it over the weekend. Other than that, maybe cargo_internal could be added again behind

[2020-09-25 17:52] UebelAndre commented on #215
Shouldn't this be
[code]
?

[2020-09-25 18:11] lgo commented on #215
Yes, and I was pointing out that there wasn't an obvious message that the `raze` configuration was missing which took quite awhile to realize.

[2020-09-25 19:32] UebelAndre commented on #215
Ah yeah, I feel the error messaging for `raze` is kinda bad. Definitely something to be improved on. If you have any suggestions I'd love to hear them 😄

[2020-09-25 20:07] acmcarther commented on #215
That's here
https://github.com/google/cargo-raze/blob/b637e82c2765bd610ba3a5d29c0fb4ea9bc77daf/impl/src/settings.rs#L350-L354

I blame `toml::from_str` for the bad errors.

[2020-10-04 20:55] aaliddell commented on #38
What's the current recommended way of supporting libloading with raze in a cross-platform supporting way, since those env vars are not set? Is it still to follow the procedure you've got in that gist?

I ask since that procedure doesn't presently appear to support anything other than Linux, but could conceivably with some helpfully places `select()`s. I thought I'd check before trying to figure th

[2020-10-08 11:14] quasicomputational commented on #203
There are at least two cases here:

1. The path points into the workspace. This is the example given above. cargo-raze ought to know to DTRT here without further instruction, because it already knows where all of the packages involved are and can construct a dependency tree.

2. The path points outside the workspace, into another. I think that this will need additional configuration, because cargo

[2020-10-08 11:32] dae opened #234 "Selecting features"
Hi there,

Is my understanding correct that currently the only way to select specific features from a crate is to manually edit the generated remote/<crate>.BUILD.bazel file, removing the unwanted features from the list? I currently am using a Cargo.toml file that specifies different features for different platforms, and am wondering whether such a thing can be accomplished with Bazel now that #21

[2020-10-08 14:03] UebelAndre commented on #234
Hey, does the `additional_flags` field help you here?
https://github.com/google/cargo-raze/blob/master/examples/remote/complicated_cargo_library/Cargo.toml#L23-L26

I struggle to find a way to specify only specify a feature for a specific platform with just `--cfg` flags though. Maybe this is a lack of functionality on `raze`? Can you elaborate more on what you're trying to do and potentially prov

[2020-10-08 15:14] UebelAndre commented on #234
Maybe https://github.com/rust-lang/cargo/issues/1197 would also be relevant here?

[2020-10-08 23:23] dae commented on #234
Sorry for the noise - this looks to be mostly a misunderstanding on my part. The Rust code I use is compiled into a Python module, and the Python distribution rules require that openssl is statically linked on Linux. Thinking it would be better to continue to use the system library on macOS, I had updated my Cargo.toml file to be:

[code]

This resulted in the Linux build statically linking openss

[2020-10-08 23:23] #234 closed

[2020-10-08 23:51] dae opened #241 "When no target set, flate2 fails to compile with latest HEAD"
Carrying on from https://github.com/google/cargo-raze/pull/212#issuecomment-705507497

To reproduce, checkout https://github.com/ankitects/cargo-raze-bug-examples and run repro.sh. Tested on a Mac.

[2020-10-08 23:52] dae opened #242 "reqwests fails to compile with git HEAD"
Carrying on from https://github.com/google/cargo-raze/pull/212#issuecomment-705507497

To reproduce, checkout https://github.com/ankitects/cargo-raze-bug-examples, checkout HEAD^, and run repro.sh. Tested on a Mac.

[2020-10-09 00:12] UebelAndre commented on #234
You could leave this open as a feature request 😄

[2020-10-09 00:52] dae commented on #242
Bisecting seems to indicate this broke when #212 landed. If I diff the generated reqwests build file in remote, the following is missing:

[code]

manually adding it back to the file allows the compile to succeed.

[2020-10-09 00:54] dae commented on #234
Didn't want to clutter up the tracker with something nobody else may ever ask for :-) If someone else finds this and has the same issue, I can open it again.

[2020-10-09 15:42] UebelAndre commented on #203
The case I'm most interested in solving is the example above (your traditional cargo workspaces). I think if there's a solution for that, then it becomes easier to solve for other examples of path dependencies. If I can get some other PRs through, I'll likely tackle this challenge next 😄

[2020-10-09 16:03] TheButlah commented on #203
Sorry, I'm slightly confused - is the example I gave the "traditional cargo workspace"?

[2020-10-09 16:11] UebelAndre commented on #203
Yeah, sorry, I was referring to your `1st` example in which you also mentioned the example above. I think the `2nd` is not directly related to cargo workspaces, it's just another way to define a dependency, right?

[2020-10-09 16:39] TheButlah commented on #203
Yep - to summarize my use case:

I'd like to give a path dependency in cargo raze to another cargo package. I'm agnostic to whether the cargo raze package and the "real" cargo package are in the same cargo workspace (I suspect that they would be since in a monorepo you probably want to share one global cargo.lock file).

[2020-10-10 11:47] cherryland commented on #41
We dropped google/cargo-raze and adapted the build-strategy of [project-oak](https://github.com/project-oak/oak), by simply referencing the _generated_ artifacts ([cargo-build](https://doc.rust-lang.org/cargo/commands/cargo-build.html))

[code]

It just works.

Messing around Cargo, bazelbuild/rules_rust and google/cargo-raze is an absolute waste of time, energy, resources and money.

[2020-10-10 13:30] aaliddell commented on #38
As of https://github.com/bazelbuild/rules_rust/commit/e64700dc9b8b3869bce4f77b78c33cb9d088cc4b this now appears to just work with `gen_buildrs = true` :tada:

[2020-10-10 16:11] mfarrugi commented on #41
The trade-off is ease of use and interop (rust <=> c, etc).

At a glance it looks like oak dropped the target they needed rules_rust &
raze for recently and so removed unused dependencies. Their exports_files
implies they are only using binary outputs, which would be straightforward.

On Sat, Oct 10, 2020 at 7:47 AM cherryland <notifications@github.com> wrote:

[2020-10-13 14:24] nikclayton-dfinity opened #247 "macos: `ld: library not found for -lstdc++` when compiling `no_deps` example"
Building a fresh checkout of `examples/remote/no_deps` with Bazel 3.6.0 fails on MacOS with the error:

[code]

Reproduction recipe:

1. Install Bazel from Homebrew, following the instructions at https://docs.bazel.build/versions/3.6.0/install-os-x.html

[code]

2. Install cargo-raze

[code]

3. Check out the `cargo-raze` repository.

[code]

4. Attempt to build.

[code]

[2020-10-13 14:40] nikclayton-dfinity commented on #247
https://github.com/pandas-dev/pandas/issues/23424#issuecomment-446393981 may be relevant.

[2020-10-13 14:48] nikclayton-dfinity commented on #247
https://developer.apple.com/documentation/xcode-release-notes/xcode-10-release-notes?preferredLanguage=occ suggests that on recent OSX libstd++ is no longer supported and libc++ should be used instead.

[2020-10-13 14:54] nikclayton-dfinity commented on #247
https://github.com/bazelbuild/rules_rust/issues/226 is probably the real bug here.

[2020-10-13 17:36] #242 closed

[2020-10-14 07:40] nikclayton-dfinity commented on #247
Add this to the bottom of the `WORKSPACE` file:

[code]

and create `.bazelrc` in the same directory as the `WORKSPACE` file with the following contents:

[code]

Then everything works for the `no_deps` example.

[2020-10-14 07:42] nikclayton-dfinity commented on #247
`complicated_cargo_library` also works.

[2020-10-14 07:58] nikclayton-dfinity commented on #247
`non_cratesio` doesn't.

It builds, but running it produces no output.

[code]

However, running it with Cargo has the same problem:

[code]

so I'm not sure what's going on there.

[2020-10-14 10:45] htuch opened #249 "Add sha256 pinning to http_archive macros"
The Envoy project now makes use of cargo-raze generated BUILD and we generally require that our external deps consumed via `http_archive` have `sha256` entries in the manifest. Can support for this be added to `cargo-raze`?

Tracked Envoy-side in https://github.com/envoyproxy/envoy/issues/13564

[2020-10-14 14:52] UebelAndre commented on #218
This is resolved as of #227 and was released in `0.6.0`

[2020-10-14 14:52] #218 closed

[2020-10-15 18:01] UebelAndre commented on #249
@htuch There is already support for this. Run `cargo generate-lockfile` in the directories where you have your `Cargo.toml` files adn then re-run `cargo-raze`. This should generate the `sha256`s for you.

[2020-10-15 20:01] nikclayton-dfinity commented on #41
I'm trying to get `logos-derive` building (https://github.com/maciejhirsz/logos/blob/master/logos-derive/Cargo.toml), it's a dependency's dependency.

But the build fails with:

[code]

This is with

[code]

in the `Cargo.toml` file. The generated `BUILD` file for it is:

[code]

I assume I've missed something obvious, but for the life of me I can't see what it is. Anyone got any pointers?

[2020-10-15 21:28] mfarrugi commented on #41
This was fixed earlier today by https://github.com/bazelbuild/rules_rust/pull/439

[2020-10-16 07:18] nikclayton-dfinity commented on #41
@mfarrugi That's great, thanks for the pointer.

Do you think it would be worthwhile adding a repository where people can submit the overrides that they've determined need to happen, and integrating that in to `cargo-raze`?

For example, I've just discovered that to build the `json5` crate you need:

[code]

To discover that I had (a) diagnose the build failure, (b) poke through the `cargo-raze` c

[2020-10-16 14:58] zoidbergwill commented on #41
@nikclayton-dfinity That would be amazing.

Maybe in here? https://github.com/acmcarther/cargo-raze-crater/tree/master/cargo

[2020-10-16 17:52] acmcarther commented on #41
We should consider moving that half-baked thing into this repo (probably outside of impl/, unless we're really good and can integrate these into raze's generation step... which would be awesome)

[2020-10-16 18:30] nikclayton-dfinity commented on #41
Another useful source of rules -- Fuschia uses GNaw, which is like `cargo-raze`, but for the GN build system.

https://fuchsia.googlesource.com/fuchsia/+/master/third_party/rust_crates/Cargo.toml is their equivalent of the workspace `Cargo.toml` file, and the bottom half of the file has overrides for a lot of crates.

[2020-10-16 20:59] htuch commented on #249
Thanks @UebelAndre. Will try this out at our end, closing out for now.

[2020-10-16 20:59] #249 closed

[2020-10-16 22:09] UebelAndre commented on #195
@acmcarther expressed interest in using Bazel-Gazelle in one of my PRs before. Perhaps you two could connect and discuss this?

[2020-10-17 00:08] alexeagle commented on #195
We should get @jayconrod input on it. I should file this on the gazelle repo as an RFC

[2020-10-17 02:09] PiotrSikora commented on #192
Any update?

[2020-10-17 02:12] UebelAndre commented on #192
To my knowledge there have been no updates to how the bazel files are rendered. Can you explain again how the output build files cause problems for you? I do agree that we should strive to have actual Buildifier compliant outputs. But again, I don't think any work has been done on that front since I last updated the templates.

[2020-10-17 02:19] PiotrSikora commented on #192
No problems per se, but it's annoying that you need to fix and possibly rename files each time after re-generating them using this tool.

[2020-10-17 02:22] UebelAndre commented on #192
@PiotrSikora Does version `0.6.1` generate Buildifier defects? Are they not all ignored (the ones we do unfortunately generate)?

[2020-10-17 02:38] UebelAndre commented on #192
@PiotrSikora would #260 solve for having to rename files?

[2020-10-17 02:40] PiotrSikora commented on #192
All targets are marked with either `# buildifier: leave-alone` or `# buildifier: disable=load`, so `buildifier` doesn't check anything... and even if it did, those files don't match any known patterns (I guess that's going to be fixed in #260).

I'd consider this fixed once 1. (#260), 2. and 3. from https://github.com/google/cargo-raze/issues/192#issuecomment-693285873 are done. The last two shoul

[2020-10-17 02:47] UebelAndre commented on #192
My confusion is that I thought the following check proves that they are:
https://github.com/google/cargo-raze/blob/master/.travis.yml#L46-L53

If not can you dump some Buildifier defects you're running into in this ticket so we can go address them. To the best of my memory the `# buildifier: leave-alone` was done because the ordering was not so easily controlled. Do you have the bandwidth to open

[2020-10-17 03:03] PiotrSikora commented on #192
`buildifier -lint=warn -mode=check -r examples` works only when:

1. All files are properly named, otherwise `buildifier` skips them, since it doesn't know which format to enforce (see: `-type=bzl|build|workspace|default|auto` parameter) (as you can see in errors in #260 already),
2. `BUILD` files are not full of `# buildifier: leave-alone` and `# buildifier: disable=` annotations.

[2020-10-17 04:50] PiotrSikora commented on #192
@UebelAndre check #261.

[2020-10-18 16:29] UebelAndre opened #262 "Feature Request: Support Cargo Workspaces"
I decided to make a top level issue to track all information about [cargo workspaces](https://doc.rust-lang.org/book/ch14-03-cargo-workspaces.html). This tool should be updated to be able to generate Bazel files for projects that make use of cargo workspaces.

[2020-10-18 16:32] UebelAndre commented on #188
This turned out to be because I was using [cargo workspaces](https://doc.rust-lang.org/book/ch14-03-cargo-workspaces.html). When you use cargo workspaces, your lockfile is generated at the workspace root. This leaves dangling lockfiles in your workspace if you were to have added the use of cargo workspace to your project after already setting up one package. After some time, you'll start to see mi

[2020-10-18 16:32] #188 closed

[2020-10-18 16:34] UebelAndre commented on #203
One case of path dependencies should be handled as part of #262

[2020-10-18 23:31] alexeagle commented on #195
let's just follow-up on https://github.com/bazelbuild/bazel-gazelle/issues/938

[2020-10-18 23:31] #195 closed

[2020-10-20 01:08] UebelAndre commented on #262
If anyone was interested in implementing this I'd be forever grateful!!

[2020-10-20 05:11] UebelAndre commented on #215
@lgo Is this still an issue for you?

[2020-10-20 05:12] UebelAndre commented on #210
@acmcarther Still planning on updating the tool?

[2020-10-20 05:13] UebelAndre commented on #132
@acmcarther do you know if this was resolved?

[2020-10-20 05:16] UebelAndre commented on #43
@acmcarther Do you know if this can be closed?

[2020-10-20 05:17] UebelAndre commented on #48
@mfarrugi Do you feel things have improved since posting this?

[2020-10-20 05:19] UebelAndre commented on #63
@acmcarther I think this is solved now that crates are wrapped using `maybe`

[2020-10-20 17:47] acmcarther commented on #262
Do you have opinions about the desired behavior? Do you think we should represent the workspaces somehow in the generated output, or just generate "the minimal thing that works"?

[2020-10-20 17:48] acmcarther commented on #220
We discussed this in #252. The approach being taken now is (1) warn when genmode is absent, then one or two releases later (2) make genmode mandatory.

(this sidesteps this issue, largely).

[2020-10-20 17:48] acmcarther commented on #215
We might be able to handle this a bit better by specially annotating the error I pointed out there to identify the common issues (e.g. wrong representation of raze settings).

[2020-10-20 18:01] acmcarther commented on #210
I guess so.

The proximate issue here is that I don't allocate time to work on this. The root issue is that I'm not working on rust-in-bazel projects right now (instead, i'm doing k8s stuff....), so I don't have a strong motivation to rework my side project schedule.

I'm pretty interested in some ideas mentioned in another issue (something about codifying build script workarounds in a user-contri

[2020-10-20 18:10] UebelAndre commented on #262
I would be happy with "the minimal thing that works". I do think the best approach for the time being would be to create aliases in the appropriate subpackages that contain aliases to the dependencies, but outside of that, I don't think it should matter how the dependencies are rendered.

My thought is that the outputs would look something like the following:

[code]

where `./cargo` is where all

[2020-10-20 18:29] UebelAndre commented on #210
If by "build script workarounds" you mean things related to running `build.rs`, then yeah! I think that's a big problem for the tool. Many users run into it and I feel like it's why many users would opt to use something else. Anything to improve that situation would be great. My hope is that one day you can run `cargo-raze` and generate everything that you need (maybe give or take some Bazel toolc

[2020-10-20 18:39] UebelAndre commented on #262
I would say if I got to pick the next feature `cargo-raze` got, it would definitely be this one.

[2020-10-21 00:57] mfarrugi commented on #48
I have not been a user for a long time. Feel free to close this issue.

On Tue, Oct 20, 2020 at 1:17 AM UebelAndre <notifications@github.com> wrote:

[2020-10-21 09:28] dae commented on #160
The build hangs may have been caused by the issue fixed in https://github.com/bazelbuild/rules_rust/pull/434

[2020-10-21 13:39] nikclayton-dfinity commented on #247
The primary bug is in `rules_rust`.

I think there's probably two bugs in the `cargo-raze` examples.

1. They don't work out of the box on macOS, you need to do https://github.com/bazelbuild/rules_rust/issues/226#issuecomment-626378800 in the `WORKSPACE` file.

The most version I have of those additions is:

[code]

2. `non_cratesio` producing no output irrespective of how it's built (https://gith

[2020-10-21 13:54] nikclayton-dfinity commented on #262
FWIW, I've been trying another approach with a project that uses workspaces.

Orginally, the directory tree looked like (just the Rust parts)

[code]

Now it looks like this:

[code]

When I want to add a new dependency I edit `cargo/Cargo.toml`, and run `cargo raze` in `cargo/` to regenerate everything.

So that `Cargo.toml` file serves the purpose of the `Cargo.lock` file in a workspace.

Then i

[2020-10-21 14:47] UebelAndre commented on #247
Odd, I'm able to build the examples on MacOS just fine. Perhaps the rust rules are relying on some specific machine setup. It might be good to open a pull request to `rules_rust` making it's tooling more explicit so users see consistent behavior regardless of how their machines are configured (if that is indeed the case here).

Interesting, seems to me like `env_logger` wasn't setup correctly? It

[2020-10-21 14:57] UebelAndre commented on #262
I've used this approach as well but I don't quite feel like that satisfies the thing I'm looking for. I don't want to have to write invalid (or maybe "abnormal" would be a better word?) `Cargo.toml` files to use `cargo-raze`. It's important to me that existing and valid project configurations can be updated to use Bazel by adding the appropriate `[raze]` sections to one or a few files.

I'm not su

[2020-10-22 00:24] #132 closed

[2020-10-24 17:32] dfreese commented on #43
I think we can close this.  If there are any additional features or issues that come up with the current implementation those can be brought up in separate issues.

[2020-10-24 17:32] #43 closed

[2020-10-24 17:47] dfreese commented on #48
I think this still could be improved.  Having semver support probably helps, but it might be worth having an option to have unused overrides being a hard error, or similar.

[2020-10-26 16:47] UebelAndre commented on #262
I think is was able to get this working over the weekend. There's a couple of issues to iron out then I'll start opening pull requests 😀

[2020-10-26 19:45] nikclayton-dfinity opened #269 "Erroneous aliases for async-global-executor-1.4.2"
Repro:

Add a dependency on the crate async-global-executor-1.4.2 (https://github.com/async-rs/async-global-executor/blob/master/Cargo.toml).

That has this section in the `Cargo.toml` file:

[code]

However, the file generated by `cargo raze` (v0.6.1, installed a few moments ago) looks like:

[code]

Note the `aliases` section at the bottom, and how `tokio_0_2_22` points to `tokio03_crate`, resul

[2020-10-27 20:45] nikclayton-dfinity commented on #48
+1 to hard errors (speaking as someone who spent some time tracking down why overrides weren't working only to realize I'd written `[raze.crate...]` and not `[raze.crates...]` for one entry...)

[2020-10-28 23:17] nikclayton-dfinity opened #270 "Incorrect `rand` alias generation for `libsecp256k1` crate"
Add `libsecp256k1 = "0.3.5"` to the dependencies section of the `Cargo.toml` and run `cargo raze`.

With v0.6.1 this generates `libsecp256k1-0.3.5.BUILD.bazel` with the following entry (hopefully irrelevant parts removed):

[code]

Note the `aliases` entry. This causes `rand` to appear as `rand_test` when building, and you get the following error:

[code]

Edit the generated build file to remove o

[2020-10-31 00:47] wchargin opened #273 "cargo: unused manifest key; use package metadata?"
When I extend my `Cargo.toml` with

[code]

per the documentation, `cargo raze` works great! But all `cargo`
commands also now print a warning about the `raze` key:

[code]

[The Cargo docs mention that “tools which would like to store package
configuration in `Cargo.toml`” can use the `package.metadata` table to
ignore that warning.][d] I think that this would just amount to changing
the table fr

[2020-11-03 01:56] UebelAndre commented on #270
Hey, just from me (a non maintainer), this was not ignored. I'm trying to get some other changes through and then I can help dig into this

[2020-11-03 14:40] UebelAndre commented on #171
@acmcarther I believe this has since been resolved. All examples now compile

[2020-11-03 14:42] UebelAndre commented on #104
@acmcarther Is this still relevant?

[2020-11-03 14:43] UebelAndre commented on #24
I believe this is now supported

[2020-11-03 14:45] UebelAndre commented on #14
While auto detection was never implemented. Raze now supports multi target outputs (as of `0.5.0`). Hopefully this functionality can act as a stopgap until auto detection is implemented

[2020-11-03 14:47] UebelAndre commented on #7
Is this investigation still open?

[2020-11-04 18:26] #7 closed

[2020-11-04 18:32] #273 closed

[2020-11-04 18:58] GregBowyer commented on #270
I think I have honed in on this one and should have a fix shortly, the downside is it relates to #187 and will be a bit of a rework

[2020-11-04 18:59] GregBowyer commented on #269
I think I have honed in on this one and should have a fix shortly, the downside is it relates to #187 and will be a bit of a rework

[2020-11-04 19:34] GregBowyer commented on #159
Sorry I just noticed this, the issue with needed flags typically comes from `build.rs` files.

If you look at proc_macro2 you will find a `build.rs` like so https://github.com/alexcrichton/proc-macro2/blob/master/build.rs

This file is run by cargo to configure the build, run generators, do autoconf style workloads. Even if you were to run the `build.rs` (`gen_buildrs = true`) there is (to my know

[2020-11-06 23:27] GregBowyer commented on #241
I think I have solved this in #282

[code]

[2020-11-08 22:17] UebelAndre opened #285 "Packages containg `crates.bzl` should have a `bzl_library` target"
When generating documentation via [stardoc](https://github.com/bazelbuild/stardoc) for files that load a generated `crates.bzl` file, an error occurs because that file is not accessible. Something should be done to `stardoc` can generate documentation for files that load `crates.bzl`.

One solution would be to have the BUILD file in the package containing `crates.bzl` define a [bzl_library](https:

[2020-11-09 06:17] LER0ever opened #286 "stacker / psm: won't build due to build.rs referencing CARGO_CFG_*"
The stacker project [rust-lang/stacker](https://github.com/rust-lang/stacker) has a dependency `psm` which requires a build.rs to build, and uses CARGO_CFG_TARGET_ENV to determine the rust linker arguments. Currently bazel and raze don't set those env vars automatically, is there a workaround for this?

Ref: https://github.com/rust-lang/stacker/blob/master/psm/build.rs#L37

Workarounds in related

[2020-11-09 12:20] sitaktif opened #287 "Allow passing custom environment variables, build deps and data deps to build scripts"
Sometimes, crate build scripts need additional environment variables or addition build/data dependencies to run correctly in a given bazel repository.

For example, to use a custom-built openssl, one might want to pass the following to the `cargo_build_script` rule of a crate:

[code]

We would need a way for the user to express these build script requirements, probably in the `Cargo.toml` file.

[2020-11-09 12:30] sitaktif opened #288 "Handle the `links` Cargo.toml attribute"
The `links` attribute is used to determine the name of the native library a crate links against.

The following `rules_rust` PR adds the `links` attribute to the `cargo_build_script` rule: https://github.com/bazelbuild/rules_rust/pull/480, allowing cargo-raze to parse it from crates' `Cargo.toml` files and populate it in the corresponding rules.

[2020-11-09 16:50] UebelAndre commented on #286
Maybe https://github.com/google/cargo-raze/issues/287 ?

[2020-11-09 16:57] UebelAndre commented on #286
Though this might be something to bring up in [rules_rust](https://github.com/bazelbuild/rules_rust) as well. At second glance it seems like this should be something handled by the rules.

[2020-11-10 04:19] PiotrSikora commented on #192
@UebelAndre I think this can be closed, unless you want to keep it open for until `deps` are sorted using `buildifier` order?

[2020-11-10 05:23] PiotrSikora opened #289 "Enable extra features for popular crates"
Some of the crates use `build.rs` to detect and enable extra features based on:

- rust version, e.g. `libc` crate: https://github.com/rust-lang/libc/blob/master/build.rs,
- target platform, e.g. `log` crate: https://github.com/rust-lang/log/blob/master/build.rs (see: #110).

which forces every user of `cargo-raze` to independently discover and manually enable those features, which more often than

[2020-11-10 05:30] dae commented on #289
Have you tried default_gen_buildrs = true? At least for my use case, that allowed me to get rid of most of manual flag specifications I was needing before.

[2020-11-10 05:50] UebelAndre commented on #192
Yeah, let's leave it open. I'll get back to this after closing out some larger changes

[2020-11-10 05:55] UebelAndre commented on #289
Yeah, I've found `default_gen_buildrs = true` to solve a lot of these problems but I haven't investigated what the cost is or specifically why `true` is not the default.

[2020-11-10 06:03] PiotrSikora commented on #192
Sounds great, thanks!

btw: I just noticed that after recent changes, when using `default_gen_buildrs = true`, there is a newline missing, and generated `BUILD` files (including those in examples) contain:
[code]

[2020-11-10 07:41] PiotrSikora commented on #289
@dae Yes, it looks that this undocumented feature is indeed what I was looking for. Thanks a lot!

We can close this, unless we want to discuss enabling `default_gen_buildrs` by default and/or documenting this feature?

[2020-11-10 14:49] UebelAndre commented on #192
I'll take a look at that. Thanks for pointing that out 🙏

[2020-11-10 16:36] UebelAndre commented on #192
https://github.com/google/cargo-raze/pull/290 should address this

[2020-11-10 17:41] dfreese commented on #289
In general, build.rs files are harmful to hermetic builds, and defaulting to true leaves a giant whole for arbitrary code execution, so leaving that as false by default is the safer option.

[2020-11-10 17:47] UebelAndre commented on #289
Is there no way to allow the build scripts to run in a sandboxed environment such that it's no longer harmful? I lot of `build.rs` files I've seen check for things that should be available from a `rust_toolchain`

[2020-11-10 23:07] dae commented on #289
If cargo-raze were to do that, it would then need to keep the provided flags up to date when the upstream projects changed, which may be a bit of a maintenance burden.

[2020-11-10 23:15] PiotrSikora commented on #289
Sorry if that wasn't clear, but in my previous comment I was talking about automatically enabling `gen_buildrs` for select crates, which would save users from specifying:
[code]
in their `Cargo.toml`, which should be less demanding than maintaining the flags.

[2020-11-11 04:48] UebelAndre commented on #289
I feel like https://github.com/bazelbuild/rules_rust/blob/master/cargo/cargo_build_script.bzl#L100-L102 is the root of most of the problems with `build.rs` in Bazel. Is this not something that can be opt-in to make running `build.rs` more hermetic?

Note: This is more of a question about `rules_Rust` than `cargo-raze`. One day I think the two projects should merge but that's a conversation for ano

[2020-11-11 05:02] dae commented on #289
That was only added a month ago:
https://github.com/bazelbuild/rules_rust/pull/447

If it's introduced problems for you, perhaps you could continue the conversion over there?

[2020-11-11 05:09] UebelAndre commented on #289
I made https://github.com/bazelbuild/rules_rust/issues/490 To be clear. I'm not asserting that's an issue but I want to better understand the claim from @dfreese that `build.rs` is non-hermetic. I would agree this is true in general when using Cargo but there may be a way to make it so within Bazel.

[2020-11-12 20:21] #288 closed

[2020-11-13 10:10] LER0ever commented on #286
@UebelAndre That's for passing the environment variables manually. And in stacker's case, it needs env vars generated automatically by Cargo, which is usually different on each platform / toolchain. Sure I could hardcode the platform vars and passing it after #287 was solved, but that's pretty much ad-hoc.

Not sure if **rules_rust** should handle this one, since they tends to handle the **rustc**

[2020-11-13 14:04] UebelAndre commented on #286
Is `CARGO_CFG_TARGET_ENV` not determined at build time?

[2020-11-13 14:17] UebelAndre commented on #286
Ah, it is not. Still unsure where this should be handled. Leaning toward `rules_rust` if there is an easy way to detect [target_env](https://doc.rust-lang.org/reference/conditional-compilation.html#target_env)

[2020-11-16 04:50] warriorstar-orion opened #294 "Is explicit selection of desired crate artifacts (libraries/binaries) possible?"
Hello; as a disclaimer I am not a Rust programmer, I am just trying to fix dependencies somewhere downstack. Sorry in advance if I screw up the terminology or description.

This project: https://github.com/sfackler/rust-phf/tree/master/phf_generator defines a binary, `gen_hash_test`, that appears to be just a test. I'd prefer this not to be included in the list of BUILD targets generated by `cargo

[2020-11-16 19:40] davehylands opened #295 "relative paths (specified in Cargo.toml using path =) don't seem to work"
I'm not sure if this is a case of my setting things up wrong or a bug in cargo raze.

I created a simple repo to demonstrate the problem: https://github.com/davehylands/raze-rel-crate

It contains two super simple crates, one (person-rs) which depends on the other (mylib-rs).

You can cd into person-rs and run `cargo test` and everything seems to work fine.

If you run `raze.sh` from the root (whi

[2020-11-16 19:41] davehylands commented on #295
The relative path is specified here: https://github.com/davehylands/raze-rel-crate/blob/46162588bf103f53d71a7e433375c49009c7677e/person-rs/Cargo.toml#L10

[2020-11-16 19:56] davehylands commented on #295
As a temporary workaround, I was able to change the `path =` to `git =` and reference my own repository, but this is less than ideal as it requires any changes to be committed in order to test. Specifically:
[code]

For a large monorepo this doesn't work well as it needs to search the entire monorepo to find the one crate.

[2020-11-16 22:05] dae commented on #295
I hit this yesterday. You can temporarily work around it by defining the @raze__crate__ver using new_local_repository() prior to initialising the raze crate repos, as raze uses maybe() and will not redefine existing crate repos.

[2020-11-17 00:08] davehylands commented on #295
Sorry, but I'm also brand new to bazel, so could use a bit more guidance.

You mean to add something like this to the WORKSPACE file?
[code]

I'm not sure what you mean by defining @raze__crate__ver

[2020-11-17 00:15] dae commented on #295
Have a look in crates.bzl. If you had something like

    maybe(
        http_archive,
        name = "raze__adler__0_2_3",
        url = "https://crates.io/api/v1/crates/adler/0.2.3/download",
        type = "tar.gz",
        sha256 = "ee2a4ec343196209d6594e19543ae87a39f96d5534d7174822a3ad825dd6ed7e",
        strip_prefix = "adler-0.2.3",
        build_file = Label("//cargo/remote:BUILD.adler-0.2

[2020-11-17 01:07] davehylands commented on #295
I guess I'm confused. Does `cargo raze` actually parse the WORKSPACE file? Otherwise how would the call to new_local_repository affect the execution of cargo raze?

I was able to get things to work by commenting the line:
[code]

Then cargo raze doesn't complain about the missing library and bazel picks it up through the rust_library deps in the BUILD.bazel file. It just means that you can't use t

[2020-11-17 01:36] dae commented on #295
You'd need to leave crates.toml referencing crates.io or a git repo to prevent raze breaking, but the workspace change would allow you to build inside Bazel with a local source tree instead.

[2020-11-17 01:47] davehylands commented on #295
It's not a question of leaving. The crate doesn't exist in crates.io and is one directory inside of a huge monorepo, so using a git repo isn't practical either.

For now, I'll just comment out the dependency that uses `path =` in crates.toml before running cargo raze (or write a script).

Hopefully raze can be updated to ignore the dependencies which use path =. Since it's local, cargo raze will a

[2020-11-17 18:54] UebelAndre commented on #295
This seems relevant to https://github.com/google/cargo-raze/issues/203

One possible solution I'm working for this is https://github.com/google/cargo-raze/issues/262 where your Bazel workspace root is also a cargo workspace root. Then you can appropriately use relative paths (assuming you've defined the cargo workspce).

[2020-11-17 19:06] UebelAndre commented on #294
I don't think I understand the situation here. Cargo raze should only generate things within your dependency graph. In some cases, binaries may be explicitly requested through the use of `extra_aliased_targets`. Can you link the generated build file for `phf_generator`?

[2020-11-18 04:35] warriorstar-orion commented on #294
Here you go: https://gist.github.com/warriorstar-orion/224647948cf85dbd6fff1626750e9ccc

Also other pertinent info:

[code]

[2020-11-18 15:07] UebelAndre commented on #294
I don't believe there is a way to prevent that from being generated but I also don't think it's existence should have a huge impact given the `manual` tag. Can you explain more about the problems you're seeing due to that target being generated?

[2020-11-21 00:22] #262 closed

[2020-11-22 03:32] djmarcin opened #297 "multiple rlib candidates for `tokio_02` found"
I'm looking into converting a project to use bazel. It depends on `tokio 0.3` as well as `tokio 0.2` via the `tokio_compat_02` library. When compiling `tokio_compat_02` this error occurs:
[code]

I've tried manually renaming the target in `BUILD.tokio-0.2.22.bazel` to `tokio_02` as well as all the crates that depend on it, but the same error occurs. I'm not sure where to go from here.

[2020-11-22 04:57] djmarcin commented on #297
The problem appears to be that the generated `BUILD.tokio_compat_02-0.1.2.bazel` contains the following:
[code]

Manually changing this to `"@raze__tokio__0_3_3//:tokio": "tokio"` appears to fix the problem.

It looks like this is generated here: https://github.com/google/cargo-raze/blob/2e7f0d82d88ab0a1b698de52b604579ce49aa883/impl/src/rendering/templates/partials/common_attrs.template#L3-L12, bu

[2020-11-22 05:23] djmarcin commented on #297
For this specific issue, it looks like there is a hacky workaround:
[code]

This results in deleting the tokio-0.3.3 dep which removes the alias, but then manually adds the dep back so that the build works. It would be nice to figure out why this erroneous alias was created in the first place though.

[2020-11-22 05:38] UebelAndre commented on #297
At a quick glance. It seems like https://github.com/google/cargo-raze/pull/282 might address this

[2020-11-22 07:20] djmarcin commented on #297
I also hit this issue with the `oauth2` package just now, and the common thread seems to be that they use the `package` specifier inside the Cargo.toml dependency line to alias things. I see that sort of aliasing mentioned in that issue so 🤞 that it will solve it soon. For now, I can manually edit the generated files as a workaround (not all can be solved by simply removing/re-adding the dependenc

[2020-11-23 02:43] UebelAndre opened #299 "RFC: Documentation style"
I'd really like to be able to use `rustdoc` to generate documentation but the current documentation style is not compatible. I'm wondering if this is a Google standard or if it can be updated to support `rustdoc`.

The following
[code]
results in the following rendering:
![Screen Shot 2020-11-22 at 6 20 47 PM](https://user-images.githubusercontent.com/26427366/99924989-2128e200-2cf1-11eb-9578-693b

[2020-11-23 03:15] UebelAndre opened #304 "Request for new release"
I think given recent changes a new release should be made. However, I'd really like it if the release could be made after https://github.com/google/cargo-raze/pull/303 is merged. Additionally, there are a few PRs before it and there are some other PRs in work that might be worth including as well. But that's up to the code owners (obviously) 😄

[2020-11-23 23:58] UebelAndre opened #305 "Remove special logic for binary dependencies"
This is a followup of https://github.com/google/cargo-raze/issues/218 where special support was added to account for binary dependencies in Remote genmode. It's unclear as to whether what the future of binary dependencies will look like for cargo but for this project, this issue should stand as a reminder that we're doing something unique and should at some point conform to whatever `cargo` decide

[2020-11-29 18:26] UebelAndre opened #307 "Update Razel to use `rules_license`"
The use of [licenses](https://docs.bazel.build/versions/0.25.0/be/functions.html#licenses) appears to be deprecated as per https://github.com/bazelbuild/bazel/issues/7444

Instead, Raze should have a setting to optionally generate the appropriate targets using [rules_license](https://github.com/bazelbuild/rules_license)

[2020-11-29 18:26] UebelAndre commented on #307
https://github.com/bazelbuild/bazel/issues/11753 may also be relevant here

[2020-12-01 08:20] djmarcin opened #309 "cargo raze should update the Cargo.lock file"
Currently, I have to manually run `cargo generate-lockfile` in order to add sha256s after adding new dependencies to Cargo.toml. It seems like `cargo raze` should be doing this automatically.

[2020-12-01 16:15] UebelAndre commented on #309
I agree that raze should be better about this. There's https://github.com/google/cargo-raze/pull/222 already which is an attempt to solve this. I have a branch with some WIP stuff I'd like to open a PR for if nothing else has been done by the time I get around to it (waiting for other PRs to be merged first).

Some things to consider:
- I don't think raze should be constantly generating new lock f

[2020-12-01 23:00] dae commented on #309
For now I've found it helpful to invoke cargo-raze via a wrapper: https://github.com/ankitects/anki/blob/master/cargo/update.py

[2020-12-01 23:09] UebelAndre commented on #309
Question, why are you using a custom requests BUILD file? Is there something that can't be expressed via the raze settings?

[2020-12-01 23:11] dae commented on #309
To use separate features on Linux: #234

[2020-12-02 18:44] UebelAndre opened #310 "Finish adding unit tests"
There are a few `TODO`s scattered through the `tests` submodules as well some things to clarify/improve about the state of the current tests.

The following should be done to improve unit tests:
- [ ] Finish adding all tests (see `TODO`s like the following: https://github.com/google/cargo-raze/blob/master/impl/src/planning.rs#L806-L811)
- [x] Use smaller crates for testing: (see conversation here:

[2020-12-08 03:52] acmcarther opened #313 "Need to migrate from Travis CI to another provider"
Due to some touch-and-go permissions-related stuff[1] with Travis CI migrating travis-ci.org usages from the org domain to the com domain, this project needs to prepare a migration to an alternative CI provider.

BuildKite is probably the best contender, since we already have it for rules_rust. That's running under organization `bazelbuild` though, so there might be some work involved. Some other

[2020-12-08 03:52] acmcarther commented on #313
CI might get flaky in the lead up to the 31st both because I'll be messing with it and also because the Travis CI folks might be doing migration stuff.

[2020-12-08 04:00] UebelAndre commented on #313
I feel like the repo is in pretty decent shape to migrate to Bazel (especially since https://github.com/google/cargo-raze/pull/300 was merged which eliminates the need for external dependencies). The smoke tests are the only mystery for me but I think I have a path forward there. I've never setup anything with BuildKite but I'd expect it to be pretty straight forward if the project is building wit

[2020-12-08 04:10] UebelAndre commented on #313
Though that said, I have a couple of small changes and 2 medium changes I'd like to get through. If you could review them for me I can work on a Bazel migration this weekend. I've als been really hoping for a release with workspace support 🙏

[2020-12-08 16:39] TheButlah commented on #262
Is there documentation on how to use the new changes in #276?

[2020-12-08 16:41] TheButlah commented on #262
I spoke too soon - there is already an example available. See #277.

[2020-12-08 16:46] UebelAndre commented on #262
Also, be careful, there are some things scheduled to be updated in https://github.com/google/cargo-raze/pull/306 so some variables and defaults will change.

[2020-12-08 16:47] TheButlah commented on #262
Hmm, yeah I just saw #306 and #302. I'll probably hold off on adopting this for another few weeks then, or till things get released. Thanks for the heads up!

[2020-12-08 16:50] UebelAndre commented on #262
https://github.com/google/cargo-raze/issues/304 is the issue I opened to track a new release that includes these changes. You can subscribe to that to find out when everything is done and the new release is available 😄

[2020-12-09 21:09] djmarcin opened #316 "BSD-2-Clause is marked "restricted" but does not appear to be"
The [BSD-2-Clause license](https://en.wikipedia.org/wiki/BSD_licenses#2-clause_license_(%22Simplified_BSD_License%22_or_%22FreeBSD_License%22)) is marked "restricted" [here](https://github.com/google/cargo-raze/blob/7cd1f6fee5aa3ca539106d5030281f3a4e950b1e/impl/src/planning/license.rs#L287) but the license does not appear to require source code distribution.

Is this a mistaken categorization, or

[2020-12-09 21:14] UebelAndre commented on #316
I would assume the latter. Better to be safe than sorry I suppose?

[2020-12-09 21:30] acmcarther commented on #316
I manually correlated the license names against some list. The ones marked "unknown" here were not present in the list I consulted.

The relevant PR was https://github.com/google/cargo-raze/pull/4/files.

Based on the issue this links to (https://github.com/acmcarther/cargo-raze/issues/28), the list I consulted was https://opensource.google.com/docs/thirdparty/licenses/. It seems like this BSD-2-C

[2020-12-13 03:35] chansuke commented on #299
I don't feel any aversion to following official documentation [convention](https://rust-lang.github.io/rfcs/1574-more-api-documentation-conventions.html#appendix-a-full-conventions-text) and I agree with the usefulness of that.

[2020-12-15 16:58] UebelAndre commented on #305
https://github.com/rust-lang/rfcs/pull/3028 is also relevant here (and very exciting should it get approved and go through).

[2020-12-16 05:23] acmcarther commented on #299
I'm fine with this change. I respect the value of consistency with the community. Most of the inconsistent style choices here date back to ancient times where they had no consequence.

(I do think this style "looks bad" though. Not looking forward to having to type "///" a bunch of times if my editor isn't smart enough to do it for me. I'm sad to have fallen on the losing side of so many of these

[2020-12-16 05:30] acmcarther commented on #299
Oh, and yeah, this isn't "google style", this is an abomination of style somewhat similar to [Google Java Style](https://google.github.io/styleguide/javaguide.html) and [Google C++ Style](https://google.github.io/styleguide/cppguide.html). Internal Rust (wherever it may or may not exist) almost certainly follows rust standard style to the letter.

[2020-12-16 07:54] UebelAndre commented on #304
The PR linked in this issue has been merged and I feel the changes I made to the repo should be in a decent spot for a release. That said though, I've opened up #319 which I feel really completes the UX for cargo workspace support and it'd be nice to have that be the first user experience

[2020-12-16 21:56] UebelAndre commented on #304
@acmcarther Up to you though. I would otherwise have 3 PRs (including #319) I'd like to get through for a release. #319 being the largest of the 3.

[2020-12-17 01:36] UebelAndre commented on #310
One thing I wanna clearly call out here. I'm not sure what `planning::tests::test_plan_build_produces_aliased_dependencies` is testing. This is relevant to the bullet

[2020-12-17 20:52] UebelAndre commented on #304
@acmcarther Actually, I think a release now would be best since it'd unblock some efforts in rules_rust.

[2020-12-18 01:14] acmcarther commented on #304
[code]

[2020-12-18 01:21] UebelAndre commented on #304
Thank you!

[2020-12-18 01:22] UebelAndre commented on #304
Gonna close this for now to make it cleaner as to what went into this. I'll open a new request when I think a new release is ready.

[2020-12-18 01:22] #304 closed

[2020-12-18 01:24] UebelAndre commented on #262
This is now released in version `0.8.0` as per https://github.com/google/cargo-raze/issues/304

[2020-12-21 09:56] davidB opened #326 "How to combine features, platform and dependencies ?"
Hi,

I used crates where the same dependencies is defined with different "feature" for different target platform.
 eg in `Cargo.toml` of [bevy_winit](https://github.com/bevyengine/bevy/blob/master/crates/bevy_winit/Cargo.toml)

[code]

become

[code]

So it failed because:
- on bazel side because winit is listed twice:

[code]

- on runtime (I guess because expected features will not be enabled)

[2020-12-21 17:02] UebelAndre commented on #313
I think i finally got openssl to build correctly in Bazel over the weekend. I'm working on a few more crates that I might be able to get working before the end of the week. If anyone is interested in the progress. Check out https://github.com/UebelAndre/cargo-raze/tree/bazel

[2020-12-21 21:41] UebelAndre commented on #313
@acmcarther Building with Bazel now works! There's still some issues compiling the tests (namely [basic-cookie](https://crates.io/crates/basic-cookies)) but if I can get that working then I just need to write a test rule that checks to see `examples` are only the result of running `cargo-raze` (no user modifications directly committed to that directory) and then I think it's ready.

Again, once I

[2020-12-22 06:18] UebelAndre commented on #305
I think there might be an easy path forward here. It would require updating the `CrateContext` list generated in the planning step to include an entry for the local package. Then some Bazel repository_rule could be written to take a url to some crate and download it and use. The rule would invoke cargo raze with some set of flags that cause it to render a build file for the local newly downloaded

[2020-12-23 17:51] UebelAndre commented on #313
@acmcarther Is it possible to have build artifacts published on this github project? I'm interested in being able to download a pre-built binary for use in a repository rule.

[2020-12-28 18:26] UebelAndre commented on #313
Ok, I've solved the issue I mentioned in https://github.com/google/cargo-raze/issues/313#issuecomment-749212104 and the entire repo is buildable in Bazel. Once some other PRs go through, I'll open a PR for https://github.com/UebelAndre/cargo-raze/tree/bazel

[2020-12-28 23:16] UebelAndre commented on #326
Hey, hope this hasn't been a blocker for you. I'm not entirely sure how to solve this. Have you had more time to think about the idea you had?

Very interested in how this might be solved 😄

[2020-12-29 09:03] cceckman opened #335 "Bazel workspace == Cargo workspace => invalid label (?)"
Minimal (maybe) demo in https://github.com/cceckman/raze-bug.

*TL;DR* It seems that "Bazel workspace root" == "Cargo workspace root" doesn't work; `cargo raze` generates a label that begins `///`, which is not valid in Bazel.

Is this:
a) working as intended;
b) a bug;
c) not actually the case, and instead I've done something wrong? (Entirely possible! :-) )

---
This setup in https://github.com/

[2020-12-29 09:07] cceckman commented on #335
(XRef #262 / @UebelAndre , as that seems to be the main FR / contributed for workspace support - thanks for your efforts so far!)

[2020-12-29 09:39] cceckman commented on #335
OK; yeah, it's user error. Fixed (kind of) in https://github.com/cceckman/raze-bug/tree/fixed.

I had read "`workspace_path`" as "this Cargo.toml's relative path to the root"; when it's actually "where to put (some of) the generated files".

I'm not in the right circadian cycle to think about doc updates for this, but may be able to tomorrow. Sorry for the noise >.<

[2020-12-29 11:49] davidB commented on #326
No I didn't find a good enough idea to translate this behavior into bazel, except maybe creating a custom function that generate the features & dependencies list instead of using select. (I'll see if it's doable after vacations, I'm new to bazel & starlack so I don't know if it's doable and how).

Currently in my "test" project I call cargo from bazel (far to be optimal :-(, because everything (co

[2020-12-29 15:03] UebelAndre commented on #335
Yeah, `workspace_path` is "where to put the outputs relative to the bazel workspace root. It's not limited to the path to the `Cargo.toml` file. Maybe in addition to updating the docs, the naming of it can be updated too. `workspace_path` doesn't feel like it communicates enough. Any suggestions (question open to everyone 😄)?

[2020-12-29 16:02] UebelAndre commented on #326
Could I get you to move this issue to [rules_rust](https://github.com/bazelbuild/rules_rust) 🙏? I think it represents either a gap in functionality or a lack of clarity in how features are expected to interact with dependencies. If there's an expected pattern for these situation then I don't think it'll be too difficult to update `cargo-raze` to handle them.

[2020-12-29 20:39] UebelAndre commented on #326
Oooooh, I think I see what's going on here. `winit` is a dependency of `bevy_winit` but when building for the `cfg(target_arch = "wasm32")` target, `bevy_winit` wants `winit` with the `"web-sys"` feature.

That is an interesting one for sure. When rendered, the `winit` crate does include that feature (though I haven't investigated why exactly)
[code]

Now I'm wondering if this can be solved with w

[2020-12-31 02:01] UebelAndre commented on #313
@acmcarther is this still time sensitive?

[2020-12-31 03:02] acmcarther commented on #313
I think the deadline was pushed back but I'm not sure how long.

[2020-12-31 03:23] UebelAndre commented on #313
Been testing the Bazel changes while my other PRs are being reviewed. Hopefully Bazel support and migrating to BuildKite/BazelCI will still do the trick.

[2021-01-03 00:58] cceckman commented on #335
`output_path`, maybe?

[2021-01-04 16:58] davidB commented on #326
I did some search, and read the interesting thread [Add cargo_crate repository rule · Issue #2 · bazelbuild/rules_rust](https://github.com/bazelbuild/rules_rust/issues/2) . And I didn't found a response to the following question (that is also valid for a full mono-repo) :

Until we'll be able to identify a target that correspond to a package with features X,Y; we'll not be able to include it into

[2021-01-04 17:19] davidB commented on #326
If I understand correctly https://github.com/google/cargo-raze/blob/master/impl/src/rendering/templates/partials/build_script.template every features are enabled by only dependencies from "default" features are included. Maybe a bug ?

[2021-01-04 17:20] UebelAndre commented on #326
Maybe I misunderstand this but when cargo resolves a build graph and finds that there are multiple dependents that require different features of a specific dependencies, the dependency is built once with all those features enabled.

Other use cases can be found here: https://doc.rust-lang.org/cargo/reference/unstable.html#features

[2021-01-04 17:25] UebelAndre commented on #326
It looks like that list is from a [`Node`](https://docs.rs/cargo_metadata/0.12.1/cargo_metadata/struct.Node.html) in a resolved dependency graph which would only include necessary features:
https://github.com/google/cargo-raze/blob/00fc4bb4d261fad29d2c91c3a0970bd935827cc8/impl/src/planning/subplanners.rs#L388

[2021-01-04 17:37] davidB commented on #326
Not all the features but the addition of features set requested, and cargo can choose to build a transitive crate several times, it allows to have several version of a the same crate in the dependency graph (vs other dependency resolver)

About the code resolved dependency graph, I'll take a deeper look, but cargo-raze seems to use cargo-metadata that do the resolution based on the list of request

[2021-01-04 17:44] UebelAndre commented on #326
It currently does use a list of crates for it's generation. There's https://github.com/google/cargo-raze/pull/282 which tracks work on updating `cargo-raze` to instead use a resolve graph. In my comments before, I was specifically referring to the `features` vec being rendered into the BUILD files. Maybe completing that PR would also fix this issue 🤔

[2021-01-04 17:48] davidB commented on #326
I'll take a look to this issue,
Anyway, I don't see how a single target/label can be used to generate multiple output (different features set). in my mind (and I guess in bazel spirit) different features set => differents output => differents target/label.

[2021-01-04 17:53] UebelAndre commented on #326
This is something I've been meaning to dig into deeper after I opened https://github.com/bazelbuild/rules_rust/issues/405. But in my experience with Bazel, I believe that statement is true in general. The way around this is likely related to [transitions](https://docs.bazel.build/versions/master/skylark/lib/transition.html) and some wrapper rule for your targets. But I may not be aware of better w

[2021-01-05 05:27] UebelAndre opened #339 "Feature Request: Argument for setting up a Bazel workspace on top of a Cargo workspacee"
I'd like a `--init` argument (name WIP) that I can pass to `cargo-raze` and have it not just output build files, but generate a Bazel workspace in place on top of a Cargo workspace with all the appropriate dependencies plugged in. This would help tremendously with migrating various repos over to using Bazel.

It's worth noting that most, if not all, repositories are for binaries and will not be us

[2021-01-05 13:47] davidB commented on #326
I'll take a look to this issue,
Anyway, I don't see how a single target/label can be used to generate multiple output (different features set). in my mind (and I guess in bazel spirit) different features set => differents output => differents target/label.

[2021-01-06 03:49] #299 closed

[2021-01-07 15:31] joell commented on #269
When using Tokio 1.0, this aliasing bug now also triggers on async-compression 0.3.7, a dependency of reqwest 0.11.0 which itself is a fairly popular library.  As more and more libraries migrate to Tokio 1.0, I expect this issue will start cropping up for people with increasing frequency.

No doubt the completion and merging of #282 would bring great rejoicing! :smile:

In the meantime, an ugly ha

[2021-01-11 15:54] sitaktif opened #344 "Parse the Cargo.toml "links" attribute and include it in the generated templates"
This is an extension of #281 which involves parsing the [links](https://doc.rust-lang.org/cargo/reference/manifest.html#the-links-field) attribute from the Cargo.toml of crates that have it set and to cascade it to the generated BUILD files.

A workaround is to manually set the `links` attribute when needed, as described in https://github.com/bazelbuild/rules_rust/pull/549#discussion_r555146547.

[2021-01-14 19:05] UebelAndre commented on #339
My expectation is that by implementing this, the need for `` and `` will be removed.
https://github.com/google/cargo-raze/blob/3b0a7cbc7ecc048c41ab6644f6108de650e3d1e7/impl/src/planning/subplanners.rs#L389-L390

These fields are used for the experimental API to render the dependency maps into `crates.bzl`. If a `PlannedBuild` can be made aware of the workspace members, then we can iterrate over th

[2021-01-14 19:05] UebelAndre commented on #339
@GregBowyer Just wanted to share https://github.com/google/cargo-raze/issues/339#issuecomment-760405817 with you in case you find the existence of `workspace_member_dependents` and `workspace_member_dev_dependents` odd.

[2021-01-15 07:39] Arm1stice opened #345 "Bug: BUILD file for serenity=0.10.2 is incorrectly generated"
When generating a BUILD files for serenity=0.10.2, the following `rust_library` rule is generated:
[code]

The main point of issue is that the aliases are all suffixed with "_compat", which is not supposed to happen. When Bazel attempts to build the crate, many errors are produced that look like:
[code]
When the BUILD file is manually edited to have
[code]
instead, the crate builds just fine. Any

[2021-01-15 07:48] Arm1stice commented on #345
If we look at https://github.com/serenity-rs/serenity/blob/current/Cargo.toml we can see that there is a feature activation in which these crate aliases would take place. However, as we can see from the generated `rust_library` rule, the requirements for this to occur aren't met.

Also, I'm now remembering that I'm the person who wrote the aliases implementation :man_facepalming:

[2021-01-15 08:16] Arm1stice commented on #345
Running `cargo metadata` on a test crate with `serenity=0.10.2` as a dependency yields the following two entries in the list of dependencies:
[code]
Because the second entry exists and has an alias, https://github.com/google/cargo-raze/blob/3b0a7cbc7ecc048c41ab6644f6108de650e3d1e7/impl/src/planning/subplanners.rs#L528
adds that alias to the list of aliased dependencies.

[2021-01-19 18:58] #345 closed

[2021-01-19 21:28] UebelAndre opened #348 "Add Buildifier complient sort filter for tera templates"
TODO: description

[2021-01-20 22:11] UebelAndre commented on #310
I feel this is satisifed by https://github.com/google/cargo-raze/pull/346 which was a huge reduction to the amount of metadata used for testing.

[2021-01-22 05:13] UebelAndre commented on #309
Cargo raze now supports a `--generate-lockfile` argument but there is one caveat in that it will generate a `Cargo.raze.lock` file. If one is present in your workspace it will take precedence over the traditional `Cargo.lock` file. Would this help here?